@use "~/util";

.search-drawer {
  .mdc-drawer__header {
    display: flex;
    align-items: center;
    @include util.divider-border(bottom);
    .mdc-drawer__title {
      flex: auto 1;
      flex-shrink: 0;
      margin-bottom: 0;
    }
    .close-icon {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .search-bar {
    flex-grow: 1;
    &__container {
      display: flex;
      padding: 16px;
      @include util.divider-border(bottom);
    }
  }
}
