.image-grid {
  flex-grow: 1;
  padding: 16px;
}

.folder-menu {
  .mdc-list-item {
    white-space: nowrap;
  }
}

.display-container {
  padding-bottom: 16px;
  max-width: 2000px;
  margin: 0 auto;
  .subheader {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    .mdc-typography--caption {
      flex-grow: 1;
    }
  }
  .mdc-image-list {
    margin: -2px;
    &__image-aspect-container {
      padding-bottom: calc(100% / var(--aspect-ratio, 1));
    }
  }
}
