@use "@material/animation/_index" as animation;
@use "@material/elevation/_index" as elevation;
@use "@material/ripple/_index" as ripple;
@use "@material/textfield/_index" as textfield;
@use "@material/typography/_index" as typography;

.users-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100vw;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 128px;
    z-index: -1;
  }
  .users {
    border-radius: 4px;
    @include elevation.elevation(1);
    .rmwc-data-table {
      overflow: visible;
      border: none;
      &__content {
        width: 100%;
      }
      &__head .rmwc-data-table__row .rmwc-data-table__head-cell.action,
      &__head .rmwc-data-table__row:hover .rmwc-data-table__head-cell.action,
      &__head .rmwc-data-table__row .rmwc-data-table__head-cell.action:hover {
        user-select: none;
        cursor: pointer;
        &::before {
          content: "arrow_downward";
          opacity: 0;
          background-color: transparent;
          font-family: "Material Icons";
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          font-feature-settings: "liga";
          -webkit-font-smoothing: antialiased;
          left: calc(1rem - (24px + 2px));
          right: auto;
          top: 16px;
          bottom: 16px;
          transform: rotate(0);
          transition: transform 150ms animation.$standard-curve-timing-function, opacity 100ms linear;
          pointer-events: none;
        }
        &.sorted {
          &::before {
            opacity: 1;
          }
          &.reverse::before {
            transform: rotate(180deg);
          }
        }
      }
      &__body .rmwc-data-table__row {
        .rmwc-data-table__cell {
          .svg-container {
            position: relative;
            @include ripple.surface;
            @include ripple.radius-unbounded;
            &.disabled {
              cursor: default;
            }
          }
          .nickname {
            height: 32px;
            width: 200px;
            .mdc-text-field__input {
              padding: 0 12px;
              @include typography.typography(body2);
              font-family: inherit;
            }
          }
          .autocomplete.mdc-menu .mdc-list-item {
            padding: 0 12px;
            height: 40px;
            @include typography.typography(body2);
            font-family: inherit;
          }
        }
      }
      .checkbox-cell {
        padding: 0 16px;
        .mdc-checkbox {
          margin: 0 auto;
        }
      }
      .icon-cell {
        padding: 0 16px;
        .mdc-icon-button {
          margin: 0 auto;
        }
      }
      .rmwc-circular-progress {
        padding: 12px;
      }
    }
  }
  .user {
    &-container {
      margin: -8px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 1088px;
      max-width: 100vw;
    }
    width: 512px;
    max-width: calc(100vw - 32px);
    margin: 8px;
    .rmwc-collapsible-list {
      border-bottom: 1px solid var(--divider-color);
      &__handle > .mdc-list-item {
        height: 88px;
        .rmwc-avatar.mdc-list-item__graphic {
          width: 48px;
          height: 48px;
        }
        .mdc-list-item__text {
          align-self: unset;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .overline {
            @include typography.typography(overline);
            font-family: inherit;
            line-height: 1rem;
          }
          .mdc-list-item__primary-text {
            margin: 2px 0;
            display: flex;
            align-items: center;
            &::before,
            &::after {
              content: none;
            }
          }
          .mdc-list-item__secondary-text {
            &::before {
              content: none;
            }
          }
        }
      }
      &__children-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
        .text-field-container {
          padding: 16px;
          flex-grow: 1;
          display: flex;
        }
        .roles-form {
          padding: 16px;
          padding-top: 0;
          .checkbox-group {
            display: flex;
            flex-wrap: wrap;
            .mdc-form-field {
              margin-right: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    .mdc-card__actions {
      justify-content: flex-end;
      .svg-container {
        &.disabled {
          &::before {
            content: none;
          }
          cursor: default;
        }
      }
    }
  }
}
