@use "@material/animation/_index" as animation;
@use "../../util";
.set-changelog {
  overflow: hidden;
  .lazy-load {
    display: flex;
    flex-direction: column;
    margin-top: 56.25%;
    .mdc-card__media {
      margin-top: -56.25%;
      animation: animation.standard(fade-in, 500ms) forwards;
      &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--divider-color);
      }
    }
  }
  .info-container {
    padding: 16px;
    .mdc-typography--overline,
    .mdc-typography--headline5,
    .mdc-typography--subtitle2 {
      margin: 0;
    }
  }
  .page-list {
    @include util.divider-border(top);
    padding: 16px;
    .button-container {
      display: flex;
      flex-wrap: wrap;
      margin: -4px;
      .mdc-button {
        width: calc(50% - 8px);
        margin: 4px;
      }
    }
  }
}
