service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth.token.editor == true || request.auth.token.designer == true;
    }
  }
}
