@use "@material/elevation/_index" as elevation;
@use "@material/typography/_index" as typography;

.guide-container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: -8px;
  &-container {
    max-width: 100vw;
    overflow: hidden;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 128px + 8px;
    z-index: -1;
  }
  .guide {
    border-radius: 4px;
    @include elevation.elevation(1);
    width: 768px;
    max-width: calc(100vw - 32px);
    box-sizing: border-box;
    padding: 16px;
    margin: 8px;
    .bold {
      font-weight: bold;
    }
    .code {
      font-family: "Roboto Mono", monospace;
      white-space: nowrap;
      background-color: rgba(black, 0.1);
    }
    :first-child {
      margin-top: 0;
    }
    .demo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      .mdc-fab {
        @include elevation.elevation(2);
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          @include elevation.elevation(3);
        }
      }
      .edit {
        min-width: 50%;
      }
    }
    .table-container {
      display: flex;
      justify-content: center;
    }
    .mdc-data-table {
      border-radius: 4px;
      &__table {
        width: 100%;
      }
    }
  }
}
