@use "@material/rtl/_index" as rtl;
@use "../../util";

.mdc-drawer.drawer-right.guide-detail-modal {
  width: 480px;
}

.guide-detail-modal {
  .mdc-drawer__header {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    @include util.divider-border(bottom);
    .mdc-drawer__title {
      flex-grow: 1;
      align-self: flex-start;
      &::before {
        height: 42px;
      }
      &::after {
        content: none;
      }
    }
  }
  .title {
    padding: 16px;
    padding-bottom: 0;
    h1,
    h3,
    p {
      margin: 0;
    }
    .tags-container {
      margin: 0 -4px;
    }
    @include util.divider-border(bottom);
  }
  .content {
    padding: 16px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .mdc-card__actions {
    @include util.divider-border(top);
  }
}
