@use "@material/animation/_index" as animation;
@use "@material/drawer/_index" as drawer;
@use "@material/top-app-bar/_index" as top-app-bar;
@use "@material/elevation/_index" as elevation;
@use "@material/ripple/_index" as ripple;

.mdc-top-app-bar {
  &--fixed {
    top: 0;
    .scrolled & {
      @include elevation.elevation(4);
    }
  }
  &__title {
    user-select: none;
  }
  &__row.tab-row {
    height: 48px;
    .mdc-top-app-bar__section {
      padding: 0;
      .mdc-tab-bar {
        width: auto;
      }
    }
  }
  .svg-container {
    position: relative;
    @include ripple.surface;
    @include ripple.radius-unbounded;
  }
  .logo {
    height: 40px;
  }
  .mdc-linear-progress {
    position: absolute;
    top: top-app-bar-row-height - 4px;
    z-index: 4;
    .mdc-linear-progress__buffering-dots {
      display: none;
    }
    .mdc-linear-progress__buffer {
      background-color: var(--divider-color);
    }
  }
  .mdc-icon-button {
    opacity: 0;
    animation: fade-in-scale 150ms animation.$standard-curve-timing-function forwards;
    animation-delay: calc(var(--animation-delay) * 75ms);
  }
  .hidden {
    .mdc-menu {
      display: none;
    }
    &.mdc-menu-surface--anchor {
      pointer-events: none;
      width: 0;
      transition-delay: 0;
    }
    .mdc-icon-button {
      opacity: 1;
      animation: fade-out 150ms animation.$standard-curve-timing-function forwards;
      animation-delay: 0;
    }
  }
  .toggle-group {
    margin-right: 4px;
    & + .toggle-group {
      margin-left: 4px;
    }
    & + .category-button {
      margin-left: 4px;
    }
  }
}

.rmwc-tooltip.hidden {
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mdc-top-app-bar.bottom-app-bar {
  position: fixed;
  bottom: 0;
  top: auto !important;
  &:not(.bottom-app-bar--indent) {
    @include elevation.elevation(4);
  }
  &.bottom-app-bar--indent {
    background-color: transparent;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 4px 2.5px rgba(0, 0, 0, 0.14))
      drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.12));
    .indent {
      padding: 0;
      flex-grow: 0;
      align-items: flex-start;
    }
    .actions {
      display: flex;
    }
  }
  .mdc-linear-progress {
    top: auto;
    bottom: 0;
  }
}

@media (min-width: 600px) {
  .mdc-top-app-bar.bottom-app-bar {
    .mdc-top-app-bar__row {
      height: 48px;
    }
    & + .mdc-top-app-bar--fixed-adjust {
      padding-top: 48px;
    }
  }
}

@media (max-width: 599px) {
  .mdc-top-app-bar {
    .toggle-group {
      margin-right: 12px;
    }
    .mdc-linear-progress {
      top: top-app-bar-mobile-row-height - 4px;
    }
  }

  .statistics .mdc-top-app-bar--fixed-adjust {
    padding-top: top-app-bar-mobile-row-height + 48px;
  }
}

@media (max-width: 839px) {
  .mdc-top-app-bar {
    &__row.tab-row .mdc-top-app-bar__section .mdc-tab-bar {
      width: 100%;
    }
  }
}

.statistics .mdc-top-app-bar--fixed-adjust {
  padding-top: top-app-bar-row-height + 48px;
}
