@use "@material/elevation/_index" as elevation;
@use "@material/rtl/_index" as rtl;
@use "@material/shape/_index" as shape;
@use "../../util";
.form {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &-double {
    display: flex;
    .select-container {
      width: 112px;
      flex-grow: 0;
      flex-shrink: 0;
      @include rtl.reflexive-box(margin, right, 16px);
    }
    .field {
      width: 100%;
      &-container {
        flex-grow: 1;
      }
    }
  }
  &-container {
    overflow: auto;
  }
  .mdc-text-field {
    margin-bottom: 16px;
    & + .mdc-text-field-helper-line {
      margin-top: -16px;
      margin-bottom: 16px;
    }
  }
  .mdc-form-field {
    margin-bottom: 16px;
  }
  .mdc-card {
    transition: elevation.transition-value();
    &.dragged {
      @include elevation.elevation(8);
    }
  }
  .date-container {
    overflow: hidden;
    margin-bottom: 16px;
    .date-title {
      margin: 0;
      padding: 16px;
    }
    .date-form {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      .mdc-text-field-helper-line:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .subheader {
    margin: 0;
    margin-bottom: 16px;
  }
  .vendors-container {
    position: relative;
    .vendor-container {
      margin-bottom: 16px;
      .title-container {
        display: flex;
        align-items: center;
        padding: 16px;
        .vendor-title {
          margin: 0;
          flex-grow: 1;
        }
        .drag-handle {
          padding: 12px;
        }
      }
      .vendor-form {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        .mdc-text-field-helper-line:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .add-button {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    margin-bottom: 16px;
  }
  .sales {
    &-title {
      margin: 0;
      padding: 16px;
    }
    &-image {
      position: relative;
      margin: 16px;
      margin-top: 0;
      @include util.divider-border(all, 1px, dashed);
      &.loaded {
        border: none;
        @include shape.radius(0);
        .sales-image-icon {
          display: none;
        }
      }
      &-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        min-height: 56px;
        width: 100%;
      }
    }
    &-field {
      padding: 0 16px;
      display: flex;
      flex-direction: column;
    }
  }
  .mdc-menu-surface--anchor .mdc-text-field {
    width: 100%;
  }
}
