@use "@material/rtl/_index" as rtl;
@use "@material/shape/_index" as shape;
@use "../../util";

.mdc-drawer.drawer-right.entry-drawer {
  width: 360px;
  &.mdc-drawer--modal {
    top: 0;
  }
  .mdc-drawer__header {
    @include util.divider-border(bottom);
    .mdc-drawer__title {
      &::before {
        height: 42px;
      }
      &::after {
        content: none;
      }
    }
  }
  .form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    &-double {
      display: flex;
      .select-container {
        width: 112px;
        flex-grow: 0;
        flex-shrink: 0;
        @include rtl.reflexive-box(margin, right, 16px);
      }
      .field {
        flex: auto 1;
        &-container {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }
      }
      .half {
        &:first-child {
          @include rtl.reflexive-box(margin, right, 8px);
        }
        &:last-child {
          @include rtl.reflexive-box(margin, left, 8px);
        }
      }
    }
    .mdc-text-field {
      margin-bottom: 16px;
      & + .mdc-text-field-helper-line {
        margin-top: -16px;
        margin-bottom: 16px;
      }
    }
    .mdc-form-field {
      margin-bottom: 16px;
    }
    .mdc-card {
      background-color: transparent;
    }
    .date-container {
      overflow: hidden;
      margin-bottom: 16px;
      .date-title {
        margin: 0;
        padding: 16px;
      }
      .date-form {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        .mdc-text-field-helper-line:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .vendor-container {
      margin-bottom: 16px;
      .vendor-title {
        margin: 0;
        padding: 16px;
      }
      .vendor-form {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        .mdc-text-field-helper-line:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      flex-grow: 0;
      margin-bottom: 16px;
    }
    .sales {
      &-title {
        margin: 0;
        padding: 16px;
      }
      &-image {
        position: relative;
        margin: 16px;
        margin-top: 0;
        @include shape.radius(4px);
        border: 1px dashed var(--divider-color);
        &.loaded {
          border: none;
          @include shape.radius(0);
          .sales-image-icon {
            display: none;
          }
        }
        &-icon {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          min-height: 56px;
          @include shape.radius(4px);
          width: 100%;
        }
      }
      &-field {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .mdc-menu-surface--anchor .mdc-text-field {
    width: 100%;
  }
  .drawer-footer {
    @include util.divider-border(top);
    height: 64px;
    flex-shrink: 0;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    .mdc-linear-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .mdc-button {
      @include rtl.reflexive-box(margin, left, 16px);
    }
  }
}
