@use "@material/rtl/_index" as rtl;

.date-picker {
  &__field {
    .mdc-text-field__icon {
      &--trailing {
        .mdc-icon-button {
          height: 36px;
          width: 36px;
          padding: (40px - 24px - 4px) / 2;
        }
      }
    }
  }
  &__wrapper {
    &.mdc-menu-surface {
      width: 100%;
      .date-picker__buttons {
        padding: 8px;
      }
    }
    &.mdc-dialog {
    }
  }
  &__bottom-bar {
    display: flex;
    &::before {
      content: "";
      max-width: 150px + 32px;
      flex: 1;
    }
    .mdc-dialog__actions {
      min-width: 310px + 16px;
      max-width: 325px + 16px;
    }
  }
  &__show-now-button {
    @include rtl.reflexive-box(margin, right, auto);
  }
  .mdc-drawer &,
  .full-screen-dialog & {
    &__field + .date-picker__wrapper.mdc-menu-surface {
      margin-top: -16px;
    }
    &__field + .mdc-text-field-helper-line + .date-picker__wrapper.mdc-menu-surface {
      margin-top: -35px;
    }
  }
}
