@use "@material/top-app-bar/_index" as top-app-bar;

.empty-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  padding: 16px;
  box-sizing: border-box;
  .image {
    height: 240px;
    width: 240px;
  }
  .title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: bold;
    text-align: center;
  }
  .subtitle {
    margin: 0;
    text-align: center;
  }
  .mdc-button {
    margin-top: 8px;
  }
}

@media (max-width: top-app-bar.$mobile-breakpoint) {
  .empty-container {
    .image {
      height: 192px;
      width: 192px;
    }
  }
}
