.guide-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px;
  position: relative;
  .guide-entry {
    width: 768px;
    max-width: calc(100% - 16px);
    position: relative;
    margin: 8px;
  }
}
