@use "@material/animation/_index" as animation;
@use "@material/elevation/_index" as elevation;
@use "@material/ripple/_index" as ripple;
@use "@material/rtl/_index" as rtl;
@use "@material/textfield/_index" as textfield;
@use "@material/typography/_index" as typography;

.users-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  .users {
    .mdc-data-table {
      overflow: visible;
      border: none;
      .mdc-data-table__header-row {
        &.progress-row {
          height: 0;
          border: none;
          .mdc-data-table__header-cell {
            height: 0;
            padding: 0;
            .mdc-linear-progress {
              height: 0px;
              transition: height 100ms animation.$standard-curve-timing-function;
            }
          }
          &.loading .mdc-data-table__header-cell .mdc-linear-progress {
                height: 4px;
          }
        }
      }
      .mdc-data-table__row {
        .mdc-data-table__cell {
          .svg-container {
            position: relative;
            @include ripple.surface;
            @include ripple.radius-unbounded;
            &.disabled {
              cursor: default;
            }
          }
          .mdc-text-field.nickname {
            height: 32px;
            width: 200px;
            .mdc-text-field__input {
              padding: 0 12px;
              @include typography.typography(body2);
              font-family: inherit;
            }
          }
          .autocomplete.mdc-menu .mdc-list-item {
            padding: 0 12px;
            height: 40px;
            @include typography.typography(body2);
            font-family: inherit;
          }
        }
      }
    }
  }
  .user {
    &-container {
      margin: -8px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 1088px;
      max-width: calc(100% + 16px);
    }
    width: 512px;
    max-width: 100%;
    margin: 8px;
    .rmwc-collapsible-list {
      border-bottom: 1px solid var(--divider-color);
      &__handle > .mdc-list-item {
        .rmwc-avatar.mdc-list-item__graphic {
          width: 48px;
          height: 48px;
        }
      }
      &__children-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
        .text-field-container {
          padding: 16px;
          flex-grow: 1;
          display: flex;
        }
        .roles-form {
          padding: 16px;
          padding-top: 0;
          .checkbox-group {
            display: flex;
            flex-wrap: wrap;
            .mdc-form-field {
              @include rtl.reflexive-box(margin, right, 8px);
              &:last-child {
                @include rtl.reflexive-box(margin, right, 0);
              }
            }
          }
        }
      }
    }
    .mdc-card__actions {
      justify-content: flex-end;
      .svg-container {
        &.disabled {
          &::before {
            content: none;
          }
          cursor: default;
        }
      }
    }
  }
}

.admin-main {
  flex-grow: 1;
}