@use "@material/animation/_index" as animation;

.stats-tab {
  padding: 16px;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: transform 350ms animation.$standard-curve-timing-function;
  .mdc-card {
    grid-column: span 1;
    padding: 16px;
    overflow: hidden;
    margin-top: 16px;
    &:first-of-type {
      margin-top: 0;
    }
    .mdc-typography--headline5 {
      margin-top: 0;
      margin-bottom: 16px;
    }
    .mdc-typography--caption {
      margin-top: 8px;
      margin-bottom: 0;
    }
    .graph-container {
      max-width: 100%;
      overflow: auto;
      .ct-chart {
        min-width: 1280px;
        .ct-grid {
          stroke: var(--divider-color);
          stroke-dasharray: 4px;
        }
      }
    }
    &.profile-graph {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      .title-container {
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;
        .mdc-typography--headline5 {
          flex-grow: 1;
          flex-shrink: 0;
          margin-right: 16px;
        }
        .toggle-group {
          flex-grow: 0;
          flex-shrink: 0;
          margin-bottom: 12px;
        }
      }
      .ct-chart {
        .ct-point,
        .ct-line,
        .ct-bar,
        .ct-slice-donut {
          transition: stroke 200ms animation.$standard-curve-timing-function;
        }
        .ct-slice-pie,
        .ct-donut-solid,
        .ct-area {
          transition: fill 200ms animation.$standard-curve-timing-function;
        }
      }
    }
    &.fullwidth {
      padding: 0;
      overflow: hidden;
    }
  }
  &.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    .mdc-card {
      margin: 0;
    }
  }
}

.tab-container {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  align-items: flex-start;
  &.timeline {
    .stats-tab.status, .stats-tab.shipped {
      max-height: 100vh;
    }
  }
  &.status {
    .stats-tab {
      transform: translateX(-100%);
    }
    .stats-tab.timeline, .stats-tab.shipped {
      max-height: 100vh;
    }
  }
  &.shipped {
    .stats-tab {
      transform: translateX(-200%);
    }
    .stats-tab.timeline, .stats-tab.status {
      max-height: 100vh;
    }
  }
}

.pie-card {
  .pie-container {
    display: flex;
    flex-direction: column;
    .pie-chart-container {
      &.shipped .ct-chart {
        .ct-series {
          .ct-point,
          .ct-line,
          .ct-bar,
          .ct-slice-donut {
            stroke: var(--divider-color);
          }
          .ct-slice-pie,
          .ct-donut-solid,
          .ct-area {
            fill: var(--divider-color);
          }
        }
      }
      &.status .ct-chart {
        .ct-series-a {
          .ct-point,
          .ct-line,
          .ct-bar,
          .ct-slice-donut {
            stroke: var(--lighter-color);
          }
          .ct-slice-pie,
          .ct-donut-solid,
          .ct-area {
            fill: var(--lighter-color);
          }
        }
        .ct-series-b {
          .ct-point,
          .ct-line,
          .ct-bar,
          .ct-slice-donut {
            stroke: var(--divider-color);
          }
          .ct-slice-pie,
          .ct-donut-solid,
          .ct-area {
            fill: var(--divider-color);
          }
        }
      }
    }
    .table-container {
      flex-grow: 1;
      .mdc-data-table {
        width: 100%;
        border-radius: 4px;
        .mdc-data-table__table {
          .bold {
            font-weight: bold;
          }
          .mdc-data-table__cell {
            position: relative;
            .indicator {
              position: absolute;
              width: 4px;
              height: 100%;
              left: 0;
              top: 0;
              bottom: 0;
              &.not-shipped, &.pre-gb {
                background-color: var(--divider-color);
              }
              &.ic {
                background-color: var(--lighter-color);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .stats-tab.stats-grid {
    grid-template-columns: repeat(3, 1fr);
    .mdc-card.full-span {
      grid-column: span 3;
    }
  }
}

@media (max-width: 839px) {
  .stats-tab.stats-grid {
    grid-template-columns: repeat(2, 1fr);
    .mdc-card.full-span {
      grid-column: span 2;
    }
  }
}

@media (max-width: 479px) {
  .stats-tab.stats-grid {
    grid-template-columns: repeat(1, 1fr);
    .mdc-card.full-span {
      grid-column: span 1;
    }
  }
}
