@use "@material/animation/_index" as animation;
@use "@material/elevation/_index" as elevation;

.mdc-top-app-bar {
  .rmwc-circular-progress {
    padding: 12px;
  }
}

.mdc-drawer-app-content {
  flex-grow: 1;
}

.log-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
  .log {
    width: 768px;
    max-width: 100%;
    position: relative;
    &.placeholder {
      height: 100vh;
    }
  }
}