@use "~/util";

.sales-dialog.mdc-dialog {
  .sales-image {
    padding-bottom: 16px;
    img {
      width: 100%;
      @include util.divider-border();
      box-sizing: border-box;
    }
  }
  .mdc-dialog__surface {
    @media (min-width: 592px) {
      max-width: calc(100vw - 32px);
    }

    @media (min-width: 752px) {
      max-width: 720px;
    }
  }
}
