@use "../../util";

.filter-preset-dialog {
  .field-container {
    padding: 16px;
    @include util.divider-border(bottom);
    .mdc-text-field {
      width: 100%;
    }
  }
  .full-screen-dialog__content {
    padding: 16px;
    box-sizing: border-box;
    .group {
      &:not(:last-child) {
        @include util.divider-border(bottom);
      }
      .subheader {
        margin-top: 16px;
      }
      .checkbox-container {
        padding: 16px 0;
        .mdc-checkbox {
          padding: 0;
          &__background {
            top: 0;
            left: 0;
          }
        }
      }
      .toggle-container {
        padding-top: 16px;
      }
      .chip-set-container {
        padding: 16px 0;
        margin: -8px;
      }
      &:first-child {
        .subheader {
          margin-top: 0;
        }
      }
    }
  }
}
