@use "@material/ripple/_index" as ripple;
@use "@material/rtl/_index" as rtl;
@use "@material/theme/_index" as theme;
@use "../../../../util";

.compact {
  .mdc-list.mdc-list--two-line .mdc-list-item {
    @include util.divider-border(bottom);
    &__text {
      @include rtl.reflexive-box(margin, right, 16px);
    }
    &__primary-text {
      div {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .twemoji {
          height: 1.0625rem;
          @include rtl.reflexive-box(margin, left, 0.15rem);
          margin-bottom: -0.15rem;
        }
      }
    }
    .live-indicator,
    .ship-indicator {
      overflow: hidden;
      height: 24px;
      flex-shrink: 0;
      margin: 0;
      & + .mdc-list-item__text {
        @include rtl.reflexive-box(margin, left, 16px);
      }
    }
    .link {
      @include rtl.reflexive-box(margin, left, auto);
      width: 48px;
      height: 48px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
    }
  }
  .mdc-list .mdc-list-item:last-child {
    border-bottom: none;
  }
}
