openapi: 3.0.0
info:
  title: KeycapLendar API
  version: '1.0'
  contact:
    name: Ben Durrant
    email: keycaplendar@gmail.com
    url: 'https://discord.gg/zrcN3qF'
  termsOfService: 'https://keycaplendar.firebaseapp.com/terms'
servers:
  - url: 'https://us-central1-keycaplendar.cloudfunctions.net'
    description: Production
paths:
  /apiAuth:
    post:
      summary: Generate Token
      tags:
        - authentication
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  token:
                    type: string
                    minLength: 1
                required:
                  - token
      operationId: post-apiAuth
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                key:
                  type: string
                  minLength: 1
                secret:
                  type: string
                  minLength: 1
              required:
                - key
                - secret
      description: 'Using your API key and secret, generate a session token that will be used in any other subsequent API requests.'
  /getAllKeysets:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Keyset'
        '':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - latestEditor
                    - profile
                    - gbMonth
                    - sales
                    - details
                    - icDate
                    - shipped
                    - gbEnd
                    - designer
                    - gbLaunch
                    - vendors
                    - image
                    - colorway
                  properties:
                    id:
                      type: string
                      minLength: 1
                    latestEditor:
                      type: string
                      minLength: 1
                    profile:
                      type: string
                      minLength: 1
                    gbMonth:
                      type: boolean
                    sales:
                      type: string
                      minLength: 1
                    details:
                      type: string
                      minLength: 1
                    icDate:
                      type: string
                      minLength: 1
                    shipped:
                      type: boolean
                    gbEnd:
                      type: string
                      minLength: 1
                    designer:
                      type: array
                      items:
                        required: []
                        properties: {}
                    gbLaunch:
                      type: string
                      minLength: 1
                    vendors:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - id
                          - region
                          - name
                          - storeLink
                        properties:
                          id:
                            type: string
                            minLength: 1
                          region:
                            type: string
                            minLength: 1
                          name:
                            type: string
                            minLength: 1
                          storeLink:
                            type: string
                            minLength: 1
                    image:
                      type: string
                      minLength: 1
                    colorway:
                      type: string
                      minLength: 1
              examples:
                example-1:
                  value:
                    id: string
                    latestEditor: string
                    profile: string
                    gbMonth: true
                    sales: string
                    details: string
                    icDate: string
                    shipped: true
                    gbEnd: string
                    designer:
                      - {}
                    gbLaunch: string
                    vendors:
                      - id: string
                        region: string
                        name: string
                        storeLink: string
                    image: string
                    colorway: string
      operationId: get-getAllKeysets
      description: Return all the keysets in the database
      parameters:
        - schema:
            type: string
            enum:
              - icDate
              - gbLaunch
              - gbEnd
          in: query
          name: dateFilter
          description: Type of date to filter by.
        - schema:
            type: string
            format: date
          in: query
          name: after
          description: Filter sets by dateFilter property to after date.
        - schema:
            type: string
            format: date
          in: query
          name: before
          description: Filter sets by dateFilter property to before date.
      security:
        - Bearer Token: []
    parameters: []
  /getKeysetById:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Keyset'
              examples:
                example-1:
                  value:
                    id: string
                    latestEditor: string
                    profile: string
                    gbMonth: true
                    sales: string
                    details: string
                    icDate: string
                    shipped: true
                    gbEnd: string
                    designer:
                      - {}
                    gbLaunch: string
                    vendors:
                      - id: string
                        region: string
                        name: string
                        storeLink: string
                    image: string
                    colorway: string
      operationId: get-getKeysetById
      description: 'Retrieve one keyset from the database, by its ID.'
      security:
        - Bearer Token: []
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: 'The ID of the keyset you want to retrieve '
          required: true
    parameters: []
components:
  schemas:
    Keyset:
      description: ''
      type: object
      properties:
        id:
          type: string
          minLength: 1
        latestEditor:
          type: string
          minLength: 1
        profile:
          type: string
          minLength: 1
        gbMonth:
          type: boolean
        sales:
          type: string
          minLength: 1
        details:
          type: string
          minLength: 1
        icDate:
          type: string
          minLength: 1
        shipped:
          type: boolean
        gbEnd:
          type: string
          minLength: 1
        designer:
          type: array
          items:
            type: string
        gbLaunch:
          type: string
          minLength: 1
        vendors:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
              region:
                type: string
                minLength: 1
              name:
                type: string
                minLength: 1
              storeLink:
                type: string
                minLength: 1
              endDate:
                type: string
            required:
              - region
              - name
        image:
          type: string
          minLength: 1
        colorway:
          type: string
          minLength: 1
      required:
        - id
        - latestEditor
        - profile
        - details
        - icDate
        - gbEnd
        - designer
        - gbLaunch
        - vendors
        - image
        - colorway
  securitySchemes:
    Bearer Token:
      type: http
      scheme: bearer
      description: Token used to authenticate all endpoints.
security:
  - API Key - 1: []
