
@import '@material/animation/variables';
@import '@material/drawer/variables';
@import '@material/top-app-bar/variables';
@import '@material/elevation/mixins';
@import '@material/ripple/mixins';
@import '@material/theme/mixins';


.mdc-top-app-bar {
    &--fixed {
        top: 0;
        .scrolled & {
            @include mdc-elevation(4);
        }
    }
    &__title {
        @include mdc-theme-prop(color, on-primary);
        user-select: none;
    }
    .svg-container {
        position: relative;
        @include mdc-theme-prop(fill,on-primary);
        @include mdc-ripple-surface;
        @include mdc-ripple-radius-unbounded;
        @include mdc-states(on-primary);
    }
    .logo {
        height: 40px;
    }
    .mdc-linear-progress {
        position: absolute;
        bottom: 0;
        max-height: 4px;
        transition: max-height 250ms $mdc-animation-standard-curve-timing-function;
        .mdc-linear-progress__buffering-dots {
            display: none;
        }
        .mdc-linear-progress__buffer {
            background-color: var(--divider-color);
        }
        .mdc-linear-progress__bar-inner {
            @include mdc-theme-prop(background-color, secondary);
        }
        &.hidden {
            max-height: 0;
        }
    }
    .mdc-icon-button {
        opacity: 0;
        animation: fade-in 150ms $mdc-animation-standard-curve-timing-function forwards;
        animation-delay: calc(var(--animation-delay) * 75ms);
    }
    .mdc-menu-surface--anchor {
        .mdc-menu-surface--anchor {
            width: auto;
        }
        width: 48px;
        transition: width 150ms 150ms $mdc-animation-standard-curve-timing-function;
    }
    .hidden {
        .mdc-menu {
            display: none;
        }
        &.mdc-menu-surface--anchor {
            pointer-events: none;
            width: 0;
            transition-delay: 0;
        }
        .mdc-icon-button {
            opacity: 1;
            animation: fade-out 150ms $mdc-animation-standard-curve-timing-function forwards;
            animation-delay: 0;
        }
    }
}

.rmwc-tooltip.hidden {
    display: none;
}

.mdc-top-app-bar:not(.mdc-top-app-bar--short) .logo {
    padding-left: 20px;
    & + .mdc-top-app-bar__title {
        padding-left: 8px;
    }
}
.mdc-top-app-bar--short {
    transition: width 250ms $mdc-animation-standard-curve-timing-function, border-radius 100ms $mdc-animation-standard-curve-timing-function, box-shadow 250ms $mdc-animation-standard-curve-timing-function;
    .mdc-top-app-bar__section.short-logo {
        overflow: hidden;
        max-width: 0;
        padding: 0;
        position: absolute;
        right: 0;
    }
    &.mdc-top-app-bar--short-collapsed, .scrolled & {
        overflow: hidden;
        .nav-icon {
            max-width: 56px;
            flex-grow: 0;
        }
        .actions {
            display: none;
        }
        .short-logo {
            max-width: none;
            padding: 8px;
        }
    }
    .scrolled &.mdc-top-app-bar--short-has-action-item {
        width: 112px;
        @include mdc-elevation(4);
        border-radius: 0 0 24px 0;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 100ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .mdc-top-app-bar__section--align-end {
            padding-left: 0;
            padding-right: 12px;
        }
    }
}

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .mdc-top-app-bar--short {
        transition-duration: 200ms;
    }
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}