@import "@material/animation/variables";
@import "@material/elevation/mixins";
@import "@material/typography/mixins";
@import "@material/top-app-bar/variables";
@import "@material/theme/color-palette";

.mdc-top-app-bar {
  .rmwc-circular-progress {
    padding: 12px;
  }
}

.mdc-drawer.filter-drawer {
  .mdc-drawer__content {
    padding: 16px;
    .mdc-select {
      width: 320px - 32px;
      margin-bottom: 16px;
    }
  }

}

.mdc-menu.mdc-select__menu.mdc-menu-surface.mdc-menu-surface--fixed {
  width: 320px - 32px;
}

.mdc-drawer-app-content {
  flex-grow: 1;
}

.log-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: height 250ms $mdc-animation-standard-curve-timing-function;
  }
  &.extended::before {
    height: 128px;
  }
  .log {
    border-radius: 4px;
    @include mdc-elevation(1);
    width: 768px;
    max-width: calc(100vw - 32px);
    position: relative;
    &.placeholder {
      height: 100vh;
    }
    .rmwc-collapsible-list {
      border-bottom: 1px solid var(--divider-color);
      &:last-child {
        border-bottom: none;
      }
      .mdc-list-item {
        height: 88px;
        &__text {
          align-self: unset;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          .overline {
            @include mdc-typography(overline);
            font-family: inherit;
            line-height: 1rem;
            padding-top: calc(28px - 1rem);
            flex-grow: 0;
            flex-shrink: 0;
          }
          .mdc-list-item__primary-text {
            flex-grow: 1;
            margin: 0;
            display: flex;
            align-items: center;
            &::before,
            &::after {
              content: none;
            }
          }
          .mdc-list-item__secondary-text {
            flex-grow: 0;
            flex-shrink: 0;
            padding-bottom: calc(28px - 1rem);
            &::before {
              content: none;
            }
          }
        }
      }
      &__children-inner {
        padding: 16px;
      }
    }
    .rmwc-data-table {
      width: 100%;
      border: 1px solid var(--divider-color);
      border-radius: 4px;
      box-sizing: border-box;
      &__content {
        width: 100%;
        background-color: transparent;
      }
      &__body .rmwc-data-table__row {
        .rmwc-data-table__cell {
          &.before {
            .highlight {
              background-color: rgba($material-color-red-200, 0.2);
              font-weight: bold;
            }
          }
          &.after {
            .highlight {
              background-color: rgba($material-color-green-200, 0.2);
              font-weight: bold;
            }
          }
          .mdc-checkbox {
            padding: 0;
            margin: 0;
            &__background {
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}