@import 'variables';
@import '@material/layout-grid/mdc-layout-grid';
@import "@material/top-app-bar/variables";
@import '@material/theme/mixins';
@import '@material/elevation/mixins';

.subheader {
    padding-bottom: 16px;
    @include mdc-theme-prop(color, text-secondary-on-background);
}

.mdc-layout-grid {
    transform-origin: 50% calc(100vh - #{$mdc-top-app-bar-row-height});
    max-width: 2000px;
}

.list-grid {
    @include mdc-theme-prop(background-color, surface);
    @include mdc-elevation(1);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    min-height: calc(100vh - #{$mdc-top-app-bar-row-height});
    .subheader {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 8px;
    }
    .mdc-layout-grid__inner {
        grid-gap: 0;
    }
}

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .list-grid {
        min-height: calc(100% - #{$mdc-top-app-bar-mobile-row-height});
    };

    .mdc-layout-grid {
        transform-origin: 50% calc(100vh - #{$mdc-top-app-bar-mobile-row-height});
    }
};

@media (min-width: 839px) and (max-width: 1099px) {
    .outer-container.mdc-layout-grid__cell--span-6-desktop {
        grid-column-end: span 12;
    }
}