@use "@material/animation/_index" as animation;
@use "@material/drawer/_index" as drawer;
@use "@material/elevation/_index" as elevation;
@use "@material/rtl/_index" as rtl;
@use "@material/top-app-bar/_index" as top-app-bar;

.mdc-drawer-app-content {
  max-width: 100%;
  transition: animation.standard(margin, 150ms);
  .mdc-top-app-bar {
    width: 100%;
    @include rtl.reflexive-position(right, 0);
    transition: elevation.transition-value(), animation.standard(width, 150ms);
    .mdc-top-app-bar__navigation-icon {
      transition-property: width, height, padding;
      transition-duration: 120ms;
      transition-timing-function: animation.$standard-curve-timing-function;
      overflow: hidden;
    }
  }
}

.rail.mdc-drawer + .mdc-drawer-app-content {
  @include rtl.reflexive-box(margin, left, 56px);
  .mdc-top-app-bar {
    width: calc(100% - 56px);
  }
}

.nav.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content .mdc-top-app-bar {
  width: calc(100% - 256px);
  .mdc-top-app-bar__navigation-icon {
    width: 0;
    padding: 12px 0;
  }
}

.rail.mdc-drawer.mdc-drawer--open.mdc-drawer--closing + .mdc-drawer-app-content .mdc-top-app-bar {
  width: calc(100% - 56px);
}

.content-container {
  display: flex;
  max-width: 100%;
  .mdc-drawer--animate:not(.mdc-drawer--closing) ~ & .mdc-drawer-app-content {
    transition-duration: drawer.$animation-enter;
  }
  .mdc-drawer--closing ~ & .mdc-drawer-app-content {
    transition-duration: drawer.$animation-exit;
  }
}

.main {
  flex: auto 1;
  flex-shrink: 1;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: calc(100vh - #{top-app-bar.$row-height});
  max-width: 100%;
  overflow: hidden;
  .content-grid {
    flex-grow: 1;
    flex-shrink: 0;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    transition: animation.standard(height, 250ms);
    z-index: -1;
  }
  &.content.card::before,
  .statistics &::before,
  .audit &::before {
    height: 256px - top-app-bar.$row-height;
  }
}
.bottomNav + .main.card::before {
  content: none;
}

.filter-drawer-open .main.card::before,
.details-drawer-open .main.card::before {
  height: 0;
}

.modal-drawer-open {
  max-height: 100vh;
  overflow: hidden;
  &.mdc-drawer-app-content {
    max-height: calc(100vh - #{top-app-bar.$mobile-row-height});
  }
}

@media (max-width: top-app-bar.$mobile-breakpoint) {
  .modal-drawer-open.mdc-drawer-app-content,
  .content-container .main {
    max-height: calc(100vh - #{top-app-bar.$mobile-row-height});
  }
  .main.content.card::before,
  .statistics .main::before,
  .audit .main::before {
    height: 256px - top-app-bar.$mobile-row-height;
  }
}

.create-fab.mdc-fab {
  position: fixed;
  bottom: 24px;
  @include rtl.reflexive-position(right, 24px);
  z-index: 4;
  animation: fab-enter-opacity 15ms linear 30ms, fab-enter-transform 270ms 0ms cubic-bezier(0, 0, 0.2, 1);
  &.mdc-fab--extended {
    transition-property: box-shadow, right;
    @include rtl.rtl {
      transition-property: box-shadow, left;
    }
    transition-timing-function: linear, animation.$standard-curve-timing-function;
    transition-duration: 280ms, drawer.$animation-enter;
    .mdc-drawer--animate:not(.mdc-drawer--closing) ~ .editor-elements & {
      transition-duration: 280ms, drawer.$animation-enter;
    }
    .mdc-drawer--closing ~ .editor-elements & {
      transition-duration: 280ms, drawer.$animation-exit;
    }
    .mdc-drawer--open.mdc-drawer--dismissible ~ .editor-elements &,
    .mdc-drawer--opening.mdc-drawer--dismissible ~ .editor-elements & {
      @include rtl.reflexive-position(right, 24px + 320px);
    }
    .mdc-drawer--open.mdc-drawer--closing ~ .editor-elements & {
      @include rtl.reflexive-position(right, 24px);
    }
  }
}

@keyframes fab-enter-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fab-enter-transform {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 839px) {
  .create-fab.mdc-fab {
    bottom: 16px;
    @include rtl.reflexive-position(right, 16px);
    &.middle {
      bottom: 28px;
      @include rtl.reflexive-position(right, 36px);
      margin: 0 auto;
    }
  }
}

@media (min-width: 600px) {
  .mdc-fab.create-fab.middle {
    bottom: 20px;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  .bottomNav {
    order: 999;
  }
}

.view-transition .content-grid {
  animation: animation.exit-permanent(fade-out, 90ms), animation.enter(fade-in-scale, 210ms, 90ms);
  will-change: transform, opacity;
}

.offset-snackbar {
  & + .mdc-snackbar,
  .mdc-snackbar {
    bottom: 56px + 16px;
  }
  &.bottom-nav + .mdc-snackbar,
  &.bottom-nav .mdc-snackbar {
    bottom: 84px;
  }
}
