@import "@material/typography/mdc-typography";
@import "@material/ripple/mdc-ripple";
@import "@material/animation/variables";

.stats-grid {
  padding: 16px;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: transform 250ms $mdc-animation-standard-curve-timing-function;
  .mdc-card {
    grid-column: span 1;
    padding: 16px;
    overflow: hidden;
    margin-top: 16px;
    &:first-of-type {
      margin-top: 0;
    }
    .mdc-typography--headline5 {
      margin-top: 0;
      margin-bottom: 16px;
    }
    .mdc-typography--caption {
      margin-top: 8px;
      margin-bottom: 0;
    }
    .graph-container {
      max-width: 100%;
      overflow: auto;
      .ct-chart {
        min-width: 1280px;
        .ct-grid {
          stroke: var(--divider-color);
          stroke-dasharray: 4px;
        }
      }
    }
    &.profile-graph {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      .title-container {
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;
        .mdc-typography--headline5 {
          flex-grow: 1;
          flex-shrink: 0;
          margin-right: 16px;
        }
        .toggle-group {
          flex-grow: 0;
          flex-shrink: 0;
          margin-bottom: 12px;
        }
      }
      .ct-chart {
        .ct-point,
        .ct-line,
        .ct-bar,
        .ct-slice-donut {
          transition: stroke 200ms $mdc-animation-standard-curve-timing-function;
        }
        .ct-slice-pie,
        .ct-donut-solid,
        .ct-area {
          transition: fill 200ms $mdc-animation-standard-curve-timing-function;
        }
      }
    }
    &.fullwidth {
      padding: 0;
      overflow: hidden;
      .rmwc-data-table {
        border: none;
        .right-border {
          border-right: 1px solid var(--divider-color);
        }
        &__content {
          width: 100%;
        }
        &__head .rmwc-data-table__row {
          .rmwc-data-table__head-cell {
            &.profile-title {
              padding: 0;
              position: relative;
              //@include mdc-typography(button);
              //text-align: center;
              cursor: pointer;
              padding: 0.75rem 1rem;
              padding-bottom: 0.5rem;
              @include mdc-ripple-surface();
              @include mdc-ripple-radius-bounded();
              //border-radius: 4px;
              .profile-indicator {
                height: 4px;
                width: calc(100% - 4px);
                position: absolute;
                top: auto;
                bottom: 0;
                left: 2px;
                right: 2px;
                transition: background-color 200ms $mdc-animation-standard-curve-timing-function;
              }
            }
          }
        }
        &__body .rmwc-data-table__row .rmwc-data-table__cell {
          transition: color 200ms $mdc-animation-standard-curve-timing-function;
        }
      }
    }
  }
  &.shipped {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    .mdc-card {
      margin: 0;
      &.full-span {
        grid-column: span 4;
      }
    }
  }
}

.tab-container {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  align-items: flex-start;
  &.timeline {
    .stats-grid.shipped {
      max-height: 100vh;
    }
  }
  &.shipped {
    .stats-grid {
      transform: translateX(-100%);
    }
    .stats-grid.timeline {
      max-height: 100vh;
    }
  }
}

.shipped-card {
  .shipped-container {
    display: flex;
    flex-direction: column;
    .pie-container {
      .ct-chart {
        .ct-series {
          .ct-point,
          .ct-line,
          .ct-bar,
          .ct-slice-donut {
            stroke: var(--divider-color);
          }
          .ct-slice-pie,
          .ct-donut-solid,
          .ct-area {
            fill: var(--divider-color);
          }
        }
      }
    }
    .table-container {
      flex-grow: 1;
      .rmwc-data-table {
        width: 100%;
        border-radius: 4px;
        .rmwc-data-table__content {
          width: 100%;
          .bold {
            font-weight: bold;
          }
          .rmwc-data-table__cell {
            position: relative;
            .indicator {
              position: absolute;
              width: 4px;
              height: 100%;
              left: 0;
              top: 0;
              bottom: 0;
              &.not-shipped {
                background-color: var(--divider-color);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .stats-grid.shipped {
    grid-template-columns: repeat(3, 1fr);
    .mdc-card.full-span {
      grid-column: span 3;
    }
  }
}

@media (max-width: 839px) {
  .stats-grid.shipped {
    grid-template-columns: repeat(2, 1fr);
    .mdc-card.full-span {
      grid-column: span 2;
    }
  }
}

@media (max-width: 479px) {
  .stats-grid.shipped {
    grid-template-columns: repeat(1, 1fr);
    .mdc-card.full-span {
      grid-column: span 1;
    }
  }
}

@media (max-width: 1080px) {
  .stats-grid {
    grid-template-columns: minmax(0, 1fr);
    .mdc-card,
    .mdc-card.fullwidth {
      grid-column: span 1;
    }
  }
}
