@import 'variables';
@import '@material/fab/mdc-fab';
@import "@material/animation/variables";
@import "@material/drawer/variables";
@import "@material/top-app-bar/variables";

.mdc-drawer-app-content {
    transition-property: margin;
    transition-timing-function: $mdc-animation-standard-curve-timing-function;
    .mdc-drawer--animate:not(.mdc-drawer--closing) + &{
        transition-duration: $mdc-drawer-animation-enter;
    }
    .mdc-drawer--closing + &{
        transition-duration: $mdc-drawer-animation-exit;
    }
}

.content-container {
    display: flex;
    .mdc-layout-grid {
        flex: auto 1;
        flex-shrink: 1;
    }
    .drawer-container {
        flex-grow: 0;
        flex-shrink: 0;
        width: 0;
        .drawer-open & {
            width: 256px;
        }
        transition-property: width;
        transition-timing-function: $mdc-animation-standard-curve-timing-function;
        transition-duration: $mdc-drawer-animation-enter;
    }
}

.modal-drawer-open {
    max-height: 100vh;
    overflow: hidden;
    &.mdc-drawer-app-content {
        max-height: calc(100vh - #{$mdc-top-app-bar-row-height});
    }
}



@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .modal-drawer-open.mdc-drawer-app-content {
        max-height: calc(100vh - #{$mdc-top-app-bar-row-height});
    }
};

.create-fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 4;
    &.mdc-fab--extended {
        transition-property: right;
        transition-timing-function: $mdc-animation-standard-curve-timing-function;
        transition-duration: $mdc-drawer-animation-enter;
    }
    .drawer-open + div & {
        right: 24px + 256px;
    }
}



@media (max-width: 839px) {
    .create-fab {
        bottom: 16px;
        right: 16px;
    }
}

.view-transition .content-grid {
    animation: fade-out 90ms $mdc-animation-acceleration-curve-timing-function, fade-in 210ms 90ms $mdc-animation-deceleration-curve-timing-function;
    will-change: transform, opacity;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity:0;} 
}
@keyframes fade-in {
    from {transform: scale(0.92); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}