@import '@material/typography/mdc-typography';
@import '@material/ripple/mdc-ripple';
.stats-grid {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    .mdc-card {
        padding: 16px;
        &.fullwidth {
            grid-column: span 2;
            padding: 0;
            overflow: hidden;
            .rmwc-data-table {
                border: none;
                .right-border {
                    border-right: 1px solid var(--divider-color);
                }
                &__content {
                    width: 100%;
                }
                &__head .rmwc-data-table__row {
                    height: 56px;
                    .rmwc-data-table__head-cell {
                        @include mdc-typography(subtitle2);
                        vertical-align: middle;
                        font-family: 'Lato', sans-serif;
                    }
                }
                &__body .rmwc-data-table__row {
                    height: 52px;
                    .rmwc-data-table__cell {
                        @include mdc-typography(body2);
                        font-family: 'Lato', sans-serif;
                        &::before {
                            transition: opacity 100ms;
                        }
                    }
                }
            }
        }
    }
}