@import "@material/theme/color-palette";
@import "@material/radio/mixins";
@import "@material/ripple/mixins";

.settings-dialog {
  user-select: none;
  .mdc-dialog__content {
    overflow-x: hidden;
    .group {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .mdc-typography--subtitle2 {
        padding: 8px 0;
        margin: 0;
      }
      .theme-form-field {
        justify-content: stretch;
        margin-bottom: 16px;
        .mdc-typography--body2 {
          flex-grow: 1;
        }
        &--flex {
          flex-wrap: wrap;
          justify-items: stretch;
          margin-bottom: 0;
          margin-left: -8px;
        }
        &__text {
          display: flex;
          justify-content: stretch;
          margin-left: 8px;
          flex-grow: 1;
          .mdc-typography--body2 {
            flex-grow: 1;
            line-height: 56px;
            margin-right: 8px;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
        .mdc-select {
          margin-left: 16px;
          .mdc-select__selected-text {
            min-width: 0;
            width: 112px;
          }
        }
        .mdc-text-field {
          min-width: 160px;
        }
        input[type="time"]::-webkit-calendar-picker-indicator {
          background: none;
        }
      }
      .mdc-list {
        flex-grow: 1;
        padding: 0;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid var(--divider-color);
        .mdc-radio {
          margin-left: -8px;
          margin-right: 24px;
        }
        .mdc-form-field {
          color: inherit;
        }
        .light {
          background-color: white;
          color: rgba(black, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(black, 0.6));
          @include mdc-radio-checked-stroke-color($material-color-deep-orange-200);
          @include mdc-radio-ink-color($material-color-deep-orange-200);
          @include mdc-states(black);
        }
        .grey {
          background-color: #464851;
          color: rgba(white, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(white, 0.6));
          @include mdc-radio-checked-stroke-color($material-color-deep-orange-200);
          @include mdc-radio-ink-color($material-color-deep-orange-200);
          @include mdc-states(white);
        }
        .ocean {
          background-color: #36526c;
          color: rgba(white, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(white, 0.6));
          @include mdc-radio-checked-stroke-color($material-color-teal-200);
          @include mdc-radio-ink-color($material-color-teal-200);
          @include mdc-states(white);
        }
        .deep {
          background-color: #3d3a4a;
          color: rgba(white, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(white, 0.6));
          @include mdc-radio-checked-stroke-color($material-color-deep-orange-200);
          @include mdc-radio-ink-color($material-color-deep-orange-200);
          @include mdc-states(white);
        }
        .dark {
          background-color: #3b3b3b;
          color: rgba(white, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(white, 0.6));
          @include mdc-radio-checked-stroke-color($material-color-deep-orange-200);
          @include mdc-radio-ink-color($material-color-deep-orange-200);
          @include mdc-states(white);
        }
      }
      .mdc-form-field {
        label {
          padding: 0;
          flex-grow: 1;
        }
        .mdc-switch {
          order: 1;
        }
      }
      .account {
        display: flex;
        justify-content: stretch;
        align-items: center;
        height: 64px;
        .avatar {
          background-color: var(--divider-color);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 40px;
          width: 40px;
          border-radius: 20px;
          margin-right: 16px;
          flex-shrink: 0;
        }
        .text {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          margin-right: 16px;
          overflow: hidden;
          span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .button {
          flex-shrink: 0;
        }
      }
      .buttons {
        .mdc-button {
          margin-right: 8px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
