.filter-dialog {
    .mdc-dialog__content {
        border-top: 1px solid var(--divider-color);
        border-bottom: 1px solid var(--divider-color);
        max-height: 320px;
        .checkbox-list {
            display: flex;
            flex-direction: column;
            margin-left: 32px;
            .mdc-form-field {
                height: 48px;
            }
        }
    }
}