.mdc-drawer.filter-drawer {
    user-select: none;
    &.mdc-drawer--modal {
        top: 0;
    }
    .subheader {
        padding: 16px;
        height: 56px;
        box-sizing: border-box;
    }
    .mdc-drawer__header {
        display: flex;
        align-items: center;
        .mdc-drawer__title {
            flex: auto 1;
            flex-shrink: 0;
            margin-bottom: 0;
        }
        .close-icon {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
    .checkbox-list {
        display: flex;
        flex-direction: column;
        padding: 16px;
        padding-top: 0;
        .mdc-form-field {
            height: 48px;
        }
    }
}
