
@import '@material/theme/variables';
@import '@material/ripple/mixins';
@import '@material/theme/mixins';

.mdc-list .mdc-list-item {
    .live-indicator {
        display: inline-flex;
        align-items: center;
        margin: 0;
        height: 24px;
        padding: 0 12px;
        border-radius: 16px;
        flex-grow: 0;
        margin-left: auto;
        & + .time-indicator {
            margin-left: 16px;
        }
    }
    .time-indicator {
        overflow: hidden;
        height: 24px;
    }
}

.list-image {
    height: 56px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    margin-right: 16px;
}