@import 'variables';

@import '@material/card/mdc-card';
@import '@material/button/mdc-button';
@import '@material/animation/functions';
@import '@material/animation/variables';
@import '@material/theme/mixins';

$image-size: 128px;

.mdc-card {
    overflow: hidden;
}

.mdc-card__action-buttons a {
   text-decoration: none;
}

@media (min-width: 839px) and (max-width: 1599px) {
    .card-container.mdc-layout-grid__cell--span-4-desktop {
        grid-column-end: span 6;
    }
}

.main-block {
    display: flex;
    flex-direction: column;
    .text-row {
        display: flex;
        .text-container {
            flex: calc(100% - #{$image-size}) 1 1;
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .title {
                padding-bottom: 8px;
                display: flex;
                .time-indicator {
                    max-width: 0;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    @include mdc-theme-prop(fill, secondary);
                    &.visible {
                        max-width: none;
                        padding-right: 8px;
                    }
                }
                .mdc-typography--headline5 {
                    margin: 0;
                }
            }
            .mdc-typography--subtitle2 {
                margin: 0;
            }
        }
        .expand-icon-container {
            display: none;
            padding: 16px;
            align-items: center;
            .expand-icon {
                @include mdc-theme-prop(color, text-secondary-on-background);
                transform: scaleY(1);
                transition:  mdc-animation-standard(transform,200ms);
            }
        }
    }
}

.mdc-card {
    &__action-icons {
        opacity: 0;
        transition: opacity 200ms $mdc-animation-standard-curve-timing-function;
        .svg-container {
            @include mdc-theme-prop(fill, text-secondary-on-background);
            position: relative;
            @include mdc-ripple-surface;
            height: 48px;
            @include mdc-ripple-radius-unbounded;
            @include mdc-states(on-surface);
            margin: -6px 0;
            padding: 12px;
            box-sizing: border-box;
        }
    }
    &:hover &__action-icons { 
        opacity: 1;
    }
}

@media (max-width: 839px) {
    .expand-actions {
        max-height: 0px;
        overflow: hidden;
        transition:  mdc-animation-standard(max-height,200ms);
        .expanded & {
            max-height: 52px;
        }
    }
    .main-block .text-row .expand-icon-container {
        display: flex;
        .expanded & .expand-icon {
            transform: scaleY(-1);
        }
    }
    .mdc-card.expanded .mdc-card__action-icons { 
        opacity: 1;
    }
}