
@import "@material/theme/variables";
@import "@material/theme/mixins";
@import "@material/ripple/mixins";
@import '@material/animation/variables';

$ripple-color: mdc-theme-prop-value(on-surface);

.mdc-list .mdc-list-item {
    @include mdc-states(mdc-theme-prop-value(on-surface));
    .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        height: 56px;
        .time-indicator {
            max-width: 0;
            overflow: hidden;
            height: 24px;
            @include mdc-theme-prop(fill, secondary); 
            &.visible {
                max-width: none;
                padding-right: 16px;
            }
        }
        .mdc-list-item__meta {
            margin: 0;
        }
    }
}

.list-item-container {
    display: flex;
    .mdc-list-item {
        flex: auto 1 0;
    }
    .edit-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 0;
        overflow: hidden;
        transition: max-width 200ms $mdc-animation-standard-curve-timing-function;
        .svg-container {
            width: 56px;
            height: 56px;
            padding: 16px;
            box-sizing: border-box;
            position: relative;
            @include mdc-theme-prop(fill, text-secondary-on-background);
            @include mdc-ripple-surface;
            @include mdc-ripple-radius-unbounded;
            @include mdc-states(on-surface);
        } 
    }
    &:hover .edit-icon {
        max-width: 56px;
    }
}

@media (max-width: 839px) {
    .list-item-container .edit-icon {
        max-width: 56px;
    }
}

.list-image {
    height: 56px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    margin-right: 16px;
}