@import '@material/card/mdc-card';
@import '@material/button/mdc-button';
@import '@material/animation/functions';

$image-size: 128px;

.mdc-card__action-buttons a {
   text-decoration: none;
}

@media (min-width: 839px) and (max-width: 1599px) {
    .card-container.mdc-layout-grid__cell--span-4-desktop {
        grid-column-end: span 6;
    }
}

.mdc-card__primary-action {
    flex-direction: column;
    .text-container {
        flex: calc(100% - #{$image-size}) 1 1;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .mdc-typography--headline5 {
            margin: 0 0 8px 0;
        }
        .mdc-typography--subtitle2 {
            margin: 0;
        }
    }
    .image-container {
        border-radius: 2px;
        overflow: hidden;
        flex: 100% #{$image-size} 1;
        flex-shrink: 0;
    }
}

@media (max-width: 839px) {
    .expand-actions {
        max-height: 0px;
        overflow: hidden;
        transition:  mdc-animation-standard(max-height,200ms);
        &.expanded {
            max-height: 52px;
        }
    }
}