
@import '@material/animation/variables';
@import '@material/animation/functions';
@import '@material/elevation/mixins';
@import '@material/ripple/mixins';
@import '@material/theme/mixins';

@media (min-width: 839px) and (max-width: 1599px) {
    .card-container.mdc-layout-grid__cell--span-4-desktop {
        grid-column-end: span 6;
    }
}

@media (min-width: 839px) and (max-width: 2139px) {
    .drawer-open .card-container.mdc-layout-grid__cell--span-4-desktop {
        grid-column-end: span 6;
    }
}

.card-container .mdc-card {
    height: 100%;
    transition: box-shadow 250ms;
    &:hover {
        @include mdc-elevation(4);
    }
    
    &.selected {
        @include mdc-elevation(8);
    }
}

.text-row {
    display: flex;
    .text-container {
        flex: auto 1 1;
        padding: 8px 16px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .overline {
            width: 100%;
            display: flex;
            justify-content: stretch;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            .mdc-typography--overline {
                margin: 0;
                @include mdc-theme-prop(color, text-secondary-on-background);
                flex-shrink: 0;
                flex-grow: 1;
            }
            .live-indicator {
                display: flex;
                align-items: center;
                margin: 0;
                height: 24px;
                padding: 0 12px;
                @include mdc-theme-prop(color, on-secondary);
                border-radius: 16px;
                flex-grow: 0;
            }
        }
        .title {
            padding-bottom: 8px;
            display: flex;
            .mdc-typography--headline5 {
                margin: 0;
                @include mdc-theme-prop(color, text-primary-on-background);
                display: flex;
                align-items: center;
                .time-indicator {
                    padding-right: 8px;
                    flex-shrink: 0;
                    overflow: hidden;
                    display: inline-flex;
                    align-items: center;
                    @include mdc-theme-prop(fill, secondary);
                }
            }
        }
        .mdc-typography--subtitle2 {
            margin: 0;
            @include mdc-theme-prop(color, text-secondary-on-background);
        }
    }
}