@import 'variables';

@import "@material/ripple/mixins";
@import "@material/typography/mixins";

a.mdc-image-list__item {
    margin: 2px;
    overflow: hidden;
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states(black);
    width: calc(100% / var(--columns) - 4px);
    .mdc-image-list__supporting {
        height: 64px;
        .mdc-image-list__label {  
            display: flex;
            width: 100%;
            .text-container {
                flex: auto 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .primary-text {
                    display: flex;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .time-indicator {
                        height: 24px;
                        max-width: 0;
                        overflow: hidden;
                    @include mdc-theme-prop(fill, secondary); 
                        &.visible {
                            max-width: none;
                            padding-right: 8px;
                        }
                    }
                    &-text {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .secondary-text {
                    @include mdc-typography(body2);
                    @include mdc-theme-prop(color, text-secondary-on-dark);
                }
            }
        }
    }

}