@import '@material/theme/color-palette';

.footer {
    box-sizing: border-box;
    padding: 16px;
    border-top: solid 1px var(--divider-color);
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
        .bold {
            font-weight: bold;
        }
        .link {
            margin-right: 16px;
            font-weight: bold;
        }
    }
    .sponsors {
        margin-top: 16px;
        display: flex;
        &-container {
            margin-bottom: 16px;
        }
        a {
            display: flex;
            div {
                background-position: center;
                background-size: contain;
            }
            .cannonkeys, .prototypist {
                height: 64px;
            }
        }
    }
}