@import '@material/theme/color-palette';

.footer {
    box-sizing: border-box;
    padding: 16px;
    border-top: solid 1px var(--divider-color);
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
        &:first-of-type {
            margin-bottom: 16px;
        }
        .bold {
            font-weight: bold;
        }
        .link {
            margin-left: 16px;
            font-weight: bold;
        }
    }
}