@import "@material/top-app-bar/variables";
@import "@material/theme/variables";
@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/ripple/mixins";

$ripple-color: mdc-theme-prop-value(on-surface);

.mdc-drawer.mdc-drawer--dismissible {
    z-index: 1;
    position: fixed;
    height: 100%;
};

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .mdc-drawer:not(.mdc-drawer--dismissible) {
        width: calc(100% - 56px);
    };
};

.mdc-drawer__header {
    .mdc-drawer__title {
        @include mdc-theme-prop(color, text-primary-on-background);
    }
}

.nav.mdc-drawer__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-color);
    padding: 0 8px 4px;
    .mdc-drawer__title {
        margin-bottom: 0;
        font-family: "Roboto Slab", serif;
        font-size: 1.125rem;
    }
    .logo {
        height: 40px;
        margin-right: 8px;
    }
    .mdc-icon-button {
        margin-left: auto;
        @include mdc-theme-prop(color, text-secondary-on-background);
    }
}

.mdc-drawer {
    @include mdc-theme-prop(background-color, surface);
    .mdc-drawer__content {
        .mdc-list-item {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
            @include mdc-theme-prop(color, text-primary-on-background);
            &--selected, &--activated {
               @include mdc-theme-prop(color, primary);
               .mdc-list-item__graphic {
                   @include mdc-theme-prop(color, primary);
                   @include mdc-theme-prop(fill, primary);
               }
               font-weight: bold;
            }
            &:not(.mdc-list-item--selected){ 
                @include mdc-states($ripple-color);
                .mdc-list-item__graphic {
                    @include mdc-theme-prop(color, text-secondary-on-background);
                    @include mdc-theme-prop(fill, text-secondary-on-background);
                }
            }
        }

    }
}

.mdc-drawer .drawer-footer {
    display: flex;
    border-top: 1px solid var(--divider-color);
    user-select: none;
    &-list.mdc-list {
        padding: 0;
        flex: auto 1 1;
        .mdc-list-item {
            padding: 8px 16px;
            margin: 0;
            border-radius: 0;
        }
    }
}