@import '../variables';

@import "@material/top-app-bar/variables";
@import "@material/theme/mixins";

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@rmwc/tooltip/tooltip";

.mdc-drawer--dismissible {
    z-index: auto;
    position: fixed;
    height: calc(100% - #{$mdc-top-app-bar-row-height});
};

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    .mdc-drawer--dismissible {
        height: calc(100% - #{$mdc-top-app-bar-mobile-row-height});
    };
    .mdc-drawer {
        width: calc(100% - 56px);
    };
};

.mdc-drawer__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.nav.mdc-drawer__header {
    display: flex;
    align-items: center;
    .mdc-drawer__title {
        margin-bottom: 0;
    }
    .logo {
        height: 40px;
        margin-right: 16px;
    }
}

.mdc-drawer {
    @include mdc-theme-prop(background-color, surface);
    .mdc-list-item {
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
        &--selected, &--activated {
           @include mdc-theme-prop(color, primary);
           font-weight: bold;
     }
    }
}

.drawer-footer {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    user-select: none;
    &-list {
        padding: 0;
        flex: auto 1 1;
    }
    .mdc-list-item:nth-child(1) {
        padding: 8px 24px;
        margin-top: 0;
    }
    .dark-mode {
        flex: 56px 0 0;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: center;
        align-items: center;
        @include mdc-theme-prop(color, text-secondary-on-background);
        @include mdc-theme-prop(fill, text-secondary-on-background);
    }
}