@import '@material/animation/variables';
@import '@material/elevation/mixins';
@import '@material/theme/mixins';

$enter-time: 250ms;
$exit-time: 200ms;

.search-bar {
    &--persistent {
        height: 40px;
        margin-right: 8px;
        .search-bar-field.mdc-text-field {
            @include mdc-theme-prop(color, on-primary);
            border-radius: 4px;
            height: 100%;
            width: 128px;
            transition: width 250ms $mdc-animation-standard-curve-timing-function, box-shadow 150ms linear;
            &--with-leading-icon .mdc-text-field__icon, &--with-trailing-icon .mdc-text-field__icon {
                bottom: 8px;
            }
            &--focused {
                width: 256px;
                &:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, &:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, &:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
                    @include mdc-theme-prop(border-color, on-primary);
                }
            }
            &__input {
                padding-top: 16px;
            }
        }
        &.search-bar--expanded {
            .search-bar-field.mdc-text-field {
                width: 256px;
            }
        }
    }
    &--modal {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
        @include mdc-theme-prop(background-color, surface);
        display: none;
        justify-content: stretch;
        align-items: center;
        opacity: 1;
        transition-property: width, opacity;
        transition-timing-function: $mdc-animation-standard-curve-timing-function;
        .mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
            transform: scale(1);
            opacity: 1;
            transition: opacity 150ms $mdc-animation-standard-curve-timing-function, transform 150ms $mdc-animation-standard-curve-timing-function;
            outline: none;
            &:focus {
               @include mdc-theme-prop(color, text-primary-on-background); 
            }
        }
        .search-bar-field.mdc-text-field {
            flex-grow: 1;
            border-radius: 0;
            .mdc-notched-outline {
                display: none;
            }
        }
        &.search-bar--animate {
            opacity: 0;
            width: 64px;
            .mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
                transform: scale(0.92);
                opacity: 0;
            }
        }
        &.search-bar--opening {
            opacity: 1;
            width: 100%;
            .mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
                transform: scale(1);
                opacity: 0;
            }
            transition-duration: $enter-time;
        }
        &.search-bar--closing {
            opacity: 0;
            width: 64px;
            transition-duration: $exit-time;
            .mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
                transform: scale(0.92);
                opacity: 0;
            }
        }
        &.search-bar--expanded {
            display: flex;
        }
    }
}

.mdc-top-app-bar.search-app-bar {
    box-shadow: none;
    transition: box-shadow 200ms linear, top 200ms $mdc-animation-standard-curve-timing-function;
    top: -56px;
    &--open {
        @include mdc-elevation(4);
        top: 0;
    }
    & + .mdc-top-app-bar--fixed-adjust {
        padding-top: 0;
        transition: padding-top 200ms $mdc-animation-standard-curve-timing-function;
    }
    &.search-app-bar--open + .mdc-top-app-bar--fixed-adjust {
        padding-top: 56px;
    }
}