.group-container {
    display: grid;
    grid-gap: var(--mdc-layout-grid-gutter-desktop, 24px);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    flex-grow: 1;
}

@media (min-width: 840px) and (max-width: 1499px) {
    .group-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 480px) and (max-width: 839px) {
    .group-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: var(--mdc-layout-grid-gutter-mobile, 16px);
    }
}

@media (max-width: 479px) {
    .group-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: var(--mdc-layout-grid-gutter-mobile, 16px);
    }
}