@use "@material/rtl/_index" as rtl;
@use "@material/shape/_index" as shape;

.timeline-card {
  .mdc-typography--headline5 {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .mdc-typography--subtitle2 {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .title-container {
    display: flex;
    .text-container {
      flex-grow: 1;
    }
    .button-container {
      display: flex;
      align-items: center;
      .mdc-icon-button {
        & + .segmented-button {
          @include rtl.reflexive-box(margin, left, 8px);
        }
      }
    }
  }
  .timeline-container {
    display: flex;
    flex-direction: column;
    .table-container {
      & + .timeline-chart-container {
        padding-top: 16px;
      }
      flex-grow: 1;
      .mdc-data-table {
        width: 100%;
        .mdc-data-table__table {
          width: 100%;
          .mdc-data-table__cell {
            position: relative;
            .indicator {
              position: absolute;
              width: 4px;
              height: 100%;
              @include rtl.reflexive-position(left, 0);
              top: 0;
              bottom: 0;
              &.not-shipped,
              &.pre-gb {
                background-color: var(--divider-color);
              }
              &.ic {
                background-color: var(--lighter-color);
              }
            }
          }
        }
      }
    }
    .timeline-chart-container {
      &.shipped .ct-chart {
        .ct-series {
          .ct-point,
          .ct-line,
          .ct-bar,
          .ct-slice-donut {
            stroke: var(--divider-color);
          }
          .ct-slice-pie,
          .ct-donut-solid,
          .ct-area {
            fill: var(--divider-color);
          }
        }
      }
    }
    .timeline-chips-container {
      display: flex;
      padding-top: 8px;
      margin: -8px;
      .mdc-chip-set {
        flex-grow: 1;
      }
    }
    .note {
      margin: 8px 0 0;
    }
  }
}

.timeline-card.full-span {
  .timeline-chart-container {
    max-width: 100%;
    overflow: auto;
    .ct-chart {
      min-width: 680px;
    }
  }
}
