@use "@material/ripple/_index" as ripple;
@use "@material/animation/_index" as animation;
.timeline-table.mdc-data-table {
  border: none;
  .right-border {
    border-right: 1px solid var(--divider-color);
  }
  .mdc-data-table__header-row {
    .mdc-data-table__header-cell {
      &.profile-title {
        padding: 0;
        position: relative;
        //@include typography.typography(button);
        //text-align: center;
        cursor: pointer;
        padding: 0.75rem 1rem;
        padding-bottom: 0.5rem;
        @include ripple.surface();
        @include ripple.radius-bounded();
        //border-radius: 4px;
        .profile-indicator {
          height: 4px;
          width: calc(100% - 4px);
          position: absolute;
          top: auto;
          bottom: 0;
          left: 2px;
          right: 2px;
          transition: background-color 200ms animation.$standard-curve-timing-function;
        }
      }
    }
  }
  .mdc-data-table__row .mdc-data-table__cell {
    transition: color 200ms animation.$standard-curve-timing-function;
  }
}
