@use "@material/animation/_index" as animation;
@use "@material/ripple/_index" as ripple;
@use "@material/rtl/_index" as rtl;

.timeline-table.mdc-data-table {
  border: none;
  .right-border {
    @include rtl.reflexive-box(border, right, 1px solid var(--divider-color));
  }
  .mdc-data-table__header-row {
    .mdc-data-table__header-cell {
      &.profile-title {
        padding: 0;
        position: relative;
        cursor: pointer;
        padding: 0.75rem 1rem;
        padding-bottom: 0.5rem;
        @include ripple.surface();
        @include ripple.radius-bounded();
        .profile-indicator {
          height: 4px;
          width: calc(100% - 4px);
          position: absolute;
          top: auto;
          bottom: 0;
          left: 2px;
          right: 2px;
          transition: background-color 200ms animation.$standard-curve-timing-function;
        }
        .rmwc-data-table__sort-icon {
          display: none;
        }
      }
    }
  }
  .mdc-data-table__row .mdc-data-table__cell {
    transition: color 200ms animation.$standard-curve-timing-function;
  }
}
