@import "@material/ripple/mdc-ripple";
.timeline-table.rmwc-data-table {
  border: none;
  .right-border {
    border-right: 1px solid var(--divider-color);
  }
  .rmwc-data-table__content {
    width: 100%;
  }
  .rmwc-data-table__head .rmwc-data-table__row {
    .rmwc-data-table__head-cell {
      &.profile-title {
        padding: 0;
        position: relative;
        //@include mdc-typography(button);
        //text-align: center;
        cursor: pointer;
        padding: 0.75rem 1rem;
        padding-bottom: 0.5rem;
        @include mdc-ripple-surface();
        @include mdc-ripple-radius-bounded();
        //border-radius: 4px;
        .profile-indicator {
          height: 4px;
          width: calc(100% - 4px);
          position: absolute;
          top: auto;
          bottom: 0;
          left: 2px;
          right: 2px;
          transition: background-color 200ms $mdc-animation-standard-curve-timing-function;
        }
      }
    }
  }
  .rmwc-data-table__body .rmwc-data-table__row .rmwc-data-table__cell {
    transition: color 200ms $mdc-animation-standard-curve-timing-function;
  }
}
