.mdc-top-app-bar {
  .rmwc-circular-progress {
    padding: 12px;
    height: 2em;
    width: 2em;
  }
}

.log-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
  .log {
    width: 768px;
    max-width: 100%;
    position: relative;
    &.placeholder {
      display: none;
    }
  }
}
