@use "@material/animation/_index" as animation;
@use "@material/top-app-bar/_index" as top-app-bar;

.autocomplete.mdc-menu {
  max-height: 160px !important;
  width: 100%;
  .mdc-list-item {
    margin: 0;
    border-radius: 0;
    height: 48px;
    white-space: pre;
    .highlight {
      font-weight: bold;
      display: inline;
    }
  }
}

.autocomplete-mobile,
.bottom-nav .search-app-bar .autocomplete-mobile {
  min-height: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: top-app-bar.$row-height;
  transition: min-height 250ms animation.$standard-curve-timing-function,
    max-height 250ms animation.$standard-curve-timing-function;
  &--open {
    min-height: calc(100vh - #{top-app-bar.$row-height});
    max-height: calc(100vh - #{top-app-bar.$row-height});
    overflow: auto;
  }
  .mdc-list-item {
    margin: 0;
    border-radius: 0;
    height: 48px;
    white-space: pre;
    .highlight {
      font-weight: bold;
      display: inline;
    }
  }
}

.bottom-nav .autocomplete-mobile {
  top: calc(-100vh + #{top-app-bar.$row-height});
}

@media (max-width: top-app-bar.$mobile-breakpoint) {
  .autocomplete-mobile,
  .bottom-nav .search-app-bar .autocomplete-mobile {
    top: top-app-bar.$mobile-row-height;
    &--open {
      min-height: calc(100vh - #{top-app-bar.$mobile-row-height});
      max-height: calc(100vh - #{top-app-bar.$mobile-row-height});
    }
  }
  .bottom-nav .autocomplete-mobile {
    top: calc(-100vh + #{top-app-bar.$mobile-row-height});
  }
}

.mdc-drawer .mdc-text-field, .full-screen-dialog .mdc-text-field {
  & + .autocomplete.mdc-menu {
    margin-top: -16px;
  }
  & + .mdc-text-field-helper-line + .autocomplete.mdc-menu {
    margin-top: -35px;
  }
}
