@import "@material/theme/color-palette";
@import "@material/radio/mixins";
@import "@material/ripple/mixins";
@import "@material/typography/mixins";

.settings-dialog {
  user-select: none;
  .mdc-dialog__content {
    overflow-x: hidden;
    .group {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .mdc-typography--subtitle2 {
        padding: 8px 0;
        margin: 0;
      }
      .theme-form-field {
        justify-content: stretch;
        margin-bottom: 16px;
        .mdc-typography--body2 {
          flex-grow: 1;
        }
        &--flex {
          flex-wrap: wrap;
          justify-items: stretch;
          margin-bottom: 0;
          margin-left: -8px;
        }
        &__text {
          display: flex;
          justify-content: stretch;
          margin-left: 8px;
          flex-grow: 1;
          .mdc-typography--body2 {
            flex-grow: 1;
            line-height: 56px;
            margin-right: 8px;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
        .mdc-select {
          margin-left: 16px;
          .mdc-select__selected-text {
            min-width: 0;
            width: 112px;
          }
        }
        .mdc-text-field {
          min-width: 160px;
        }
        input[type="time"]::-webkit-calendar-picker-indicator {
          background: none;
        }
      }
      .mdc-list {
        flex-grow: 1;
        padding: 0;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid var(--divider-color);
        .mdc-radio {
          margin-left: -8px;
          margin-right: 24px;
        }
        .mdc-form-field {
          color: inherit;
        }
        .light {
          background-color: white;
          color: rgba(black, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(black, 0.6));
          @include mdc-states(black);
        }
        .sepia {
          background-color: #e2dfd6;
          color: rgba(#3d3d38, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(#3d3d38, 0.6));
          @include mdc-states(black);
        }
        .ocean {
          background-color: #36526c;
        }
        .grey {
          background-color: #464851;
        }
        .deep-ocean {
          background-color: #3a4e59;
        }
        .deep {
          background-color: #3d3a4a;
        }
        .dark {
          background-color: #3b3b3b;
        }
        .light, .sepia, .grey, .deep, .dark {
          @include mdc-radio-checked-stroke-color($material-color-deep-orange-200);
          @include mdc-radio-ink-color($material-color-deep-orange-200);
        }
        .ocean, .deep-ocean {
          @include mdc-radio-checked-stroke-color($material-color-light-green-200);
          @include mdc-radio-ink-color($material-color-light-green-200);
        }
        .ocean, .grey, .deep-ocean, .deep, .dark {
          color: rgba(white, 0.87);
          @include mdc-radio-unchecked-stroke-color(rgba(white, 0.6));
          @include mdc-states(white);
        }
      }
      .mdc-form-field {
        label {
          padding: 0;
          flex-grow: 1;
        }
        .mdc-switch {
          order: 1;
        }
      }
      .account {
        padding: 0;
        height: 88px;
        cursor: default;
        &::before,
        &::after {
          content: none;
        }
        .rmwc-avatar {
          margin-right: 16px;
        }
        .mdc-list-item__text {
          align-self: unset;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          .overline {
            @include mdc-typography(overline);
            font-family: inherit;
            line-height: 1rem;
            padding-top: calc(28px - 1rem);
            flex-grow: 0;
            flex-shrink: 0;
          }
          .mdc-list-item__primary-text {
            flex-grow: 1;
            margin: 0;
            display: flex;
            align-items: center;
            &::before,
            &::after {
              content: none;
            }
          }
          .mdc-list-item__secondary-text {
            flex-grow: 0;
            flex-shrink: 0;
            padding-bottom: calc(28px - 1rem);
            &::before {
              content: none;
            }
          }
        }
        .button {
          margin-left: auto;
          flex-shrink: 0;
        }
      }
      .buttons {
        .mdc-button {
          margin-right: 8px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
