@use "../../util";

.sales-dialog.mdc-dialog {
  .sales-image {
    padding-bottom: 16px;
    img {
      width: 100%;
      @include util.divider-border();
      box-sizing: border-box;
    }
  }
}

@media (min-width: 592px) {
  .sales-dialog.mdc-dialog .mdc-dialog__surface {
    max-width: 720px;
  }
}
