.mdc-drawer.filter-drawer {
  user-select: none;
  &.mdc-drawer--modal {
    top: 0;
  }
  .subheader {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 16px;
    height: 56px;
    box-sizing: border-box;
  }
  .mdc-drawer__header {
    display: flex;
    align-items: center;
    .mdc-drawer__title {
      flex: auto 1;
      flex-shrink: 0;
      margin-bottom: 0;
    }
    .close-icon {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .group {
    &:not(:last-child) {
      border-bottom: 1px solid var(--divider-color);
      margin-bottom: 16px;
    }
    .filter-toggle-button-container {
      .toggle-group {
        justify-content: stretch;
        .mdc-button {
          flex-grow: 1;
        }
      }
    }
    .filter-toggle-button-container,
    .filter-button-container {
      margin-bottom: 8px;
    }
    .filter-button-container .mdc-button {
      margin-right: 8px;
    }
    .filter-chip-container {
      padding-bottom: 16px;
    }
  }
}
