@use "@material/rtl/_index" as rtl;
@use "@material/theme/color-palette" as palette;
@use "~/util";

.footer {
  padding: 16px;
  @include util.divider-border(top);
  display: flex;
  flex-direction: column;
  .mdc-typography--body2 {
    margin: 0;
    margin-bottom: 16px;
    .bold {
      font-weight: bold;
    }
  }
  .sponsors {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    &-container {
      margin-bottom: 16px;
    }
    a {
      display: flex;
      text-decoration: none;
      div {
        background-position: center;
        background-size: contain;
      }
      .cannonkeys,
      .prototypist,
      .deskhero,
      .latamkeys {
        height: 64px;
      }
      .deskhero {
        display: flex;
        align-items: center;
        font-family: "Lexend Zetta";
        text-transform: uppercase;
        font-size: 1.5rem;
        @include rtl.reflexive-box(padding, left, 16px);
        white-space: nowrap;
        .accent {
          color: #fc0d1c;
        }
      }
      .latamkeys {
        margin-left: 16px;
        display: flex;
        align-items: center;
        &-img {
          height: 100%;
        }
        &-text {
          padding-left: 8px;
          height: 50%;
        }
      }
    }
  }
}
