@import "@material/theme/color-palette";

.footer {
  box-sizing: border-box;
  padding: 16px;
  border-top: solid 1px var(--divider-color);
  display: flex;
  flex-direction: column;
  .mdc-typography--body2 {
    margin: 0;
    margin-bottom: 16px;
    .bold {
      font-weight: bold;
    }
  }
  .sponsors {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    &-container {
      margin-bottom: 16px;
    }
    a {
      display: flex;
      text-decoration: none;
      div {
        background-position: center;
        background-size: contain;
      }
      .cannonkeys,
      .prototypist,
      .deskhero {
        height: 64px;
      }
      .deskhero {
        display: flex;
        align-items: center;
        font-family: "Lexend Zetta";
        text-transform: uppercase;
        font-size: 1.5rem;
        padding-left: 16px;
        white-space: nowrap;
        .accent {
          color: #fc0d1c;
        }
      }
    }
  }
}
