@use "@material/elevation/_index" as elevation;

.legal-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 128px;
    z-index: -1;
  }
  .legal {
    width: 768px;
    max-width: calc(100vw - 32px);
    padding: 16px;
    &:first-child {
      margin-top: 0;
    }
  }
}
