.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 8px;
    margin-bottom: 4px;
    & + p {
      margin-top: 4px;
    }
  }
  p {
    margin: 8px 0;
  }
  ul {
    margin: 0;
  }
  code {
    font-family: "Roboto Mono", monospace;
    white-space: nowrap;
    background-color: rgba(black, 0.1);
  }
}

.react-mde.markdown-editor {
  .markdown-editor {
    &__toolbar {
      background-color: transparent;
      .mde-tabs {
        button {
          cursor: default;
          border-radius: 0;
          margin: 0;
          padding: 8px;
          &.selected {
            border: none;
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
      .mde-header-group {
        padding: 0;
        .mde-header-item {
          display: flex;
          align-items: center;
          button {
            padding: 0;
            height: auto;
          }
        }
      }
    }
    &__preview {
    }
    &__textarea {
      background-color: transparent;
    }
    &__dropdown {
    }
  }
}
