@use "@material/rtl/_index" as rtl;
@use "@material/shape/_index" as shape;

.skeleton-block {
  &:not(.skeleton-block--typography) {
    animation: placeholder 2s ease infinite;
  }
  &--rounded {
    @include shape.radius(999em);
  }
  &--typography {
    display: flex;
    align-items: center;
    position: relative;
    .skeleton-block__content {
      visibility: hidden;
    }
    &::after {
      position: absolute;
      @include rtl.reflexive-position(left, 0);
      line-height: initial;
      content: var(--content, " ");
      animation: placeholder 2s ease infinite;
      width: auto;
      height: var(--after-height, auto);
      border-radius: inherit;
      color: transparent;
    }
  }
}
