@import '@material/theme/variables';
@import '@material/theme/mixins';
@import '@material/ripple/mixins';

$overlay-values: (
    1: 5%,   // card, switch
    2: 7%,   // contained button
    3: 8%,   // refresh indicator
    4: 9%,   // app bar
    6: 11%,  // FAB, snackbar
    8: 12%,  // menu, side sheet
    12: 14%, // 
    16: 15%, // nav drawer, modal side sheet
    24: 16%  // dialog
);

@function overlay-elevation($color, $elevation : 0) {
    $use-color: mdc-theme-prop-value($color);
    @return lighten($use-color, map-get($overlay-values, $elevation));
};

:root {
    --meta-color: #{darken(overlay-elevation(surface, 4),10%)};
}

.card-container .mdc-card {
    background-color: overlay-elevation(surface, 1);
    transition: box-shadow 250ms, background-color 250ms;
    &.selected {
        background-color: overlay-elevation(surface, 8);
    }
};

.list.content-grid {
    background-color: overlay-elevation(surface, 1);
};

.mdc-top-app-bar {
    background-color: overlay-elevation(surface, 4);
    & &__title {
        @include mdc-theme-prop(color, text-primary-on-background);
    }
    & &__action-item, & &__navigation-icon, .svg-container {
        @include mdc-theme-prop(color, text-primary-on-background);
        @include mdc-theme-prop(fill, text-primary-on-background);
        @include mdc-states(text-primary-on-background);
    }
    .mdc-linear-progress {
        .mdc-linear-progress__buffer {
            background-color: rgba(mdc-theme-prop-value(primary), 0.25);
        }
        .mdc-linear-progress__bar-inner {
            @include mdc-theme-prop(background-color, primary);
        }
    }
};

.full-screen-dialog {
    background-color: overlay-elevation(surface, 16);
    .mdc-top-app-bar .mdc-button {
        @include mdc-theme-prop(color, text-primary-on-background);
        @include mdc-states(white)
    }
    .mdc-card {
        background-color: overlay-elevation(surface, 16);
    }
}

.mdc-menu.mdc-select__menu {
    background-color: overlay-elevation(surface, 24);
}

.mdc-drawer {
    background-color: overlay-elevation(surface, 16);
    .mdc-chip {
        background-color: lighten(overlay-elevation(surface, 16),12%);
    }
    &.mdc-drawer--dismissible {
        background-color: overlay-elevation(surface, 1);
        .mdc-chip {
            background-color: lighten(overlay-elevation(surface, 1),12%);
        }
    }
    .mdc-card {
        background-color: overlay-elevation(surface, 16);
    }
}

.mdc-menu {
    background-color: overlay-elevation(surface, 12);
}

.mdc-dialog .mdc-dialog__surface {
    background-color: overlay-elevation(surface, 24);
}
.search-bar {
    &--persistent {
        .search-bar-field.mdc-text-field {
            background-color: rgba(mdc-theme-prop-value(on-surface),0.15);
            @include mdc-theme-prop(color, on-surface);
            &--focused {
                &:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, &:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, &:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
                    @include mdc-theme-prop(border-color, primary);
                }
            }
        }
    }
    &--modal {
        background-color: overlay-elevation(surface, 8);
    }
}

.text-row .text-container .overline .live-indicator, .mdc-list .mdc-list-item .live-indicator {
    background-color: rgba($mdc-theme-secondary,0.75);
}