@use "@material/theme/color-palette" as palette;
@use "sass:math";
@use "util";

$themes-colors-map: (
  light: (
    dark: false,
    primary: palette.$teal-500,
    on-primary: #000,
    primary-light: #52c7b8,
    on-primary-light: #000,
    primary-dark: #00675b,
    on-primary-dark: #fff,
    secondary: palette.$deep-orange-200,
    on-secondary: #000,
    secondary-light: #ffddc1,
    on-secondary-light: #000,
    secondary-dark: #c97b63,
    on-secondary-dark: #000,
    background: palette.$grey-200,
    error: #b00020,
    on-error: #fff,
    surface: #fff,
    on-surface: #000,
  ),
  sepia: (
    dark: false,
    primary: palette.$teal-500,
    on-primary: #000,
    primary-light: #52c7b8,
    on-primary-light: #000,
    primary-dark: #00675b,
    on-primary-dark: #fff,
    secondary: palette.$deep-orange-200,
    on-secondary: #000,
    secondary-light: #ffddc1,
    on-secondary-light: #000,
    secondary-dark: #c97b63,
    on-secondary-dark: #000,
    background: #cac6ad,
    error: #b00020,
    on-error: #fff,
    surface: #e2dfd6,
    on-surface: #3d3d38,
  ),
  ocean: (
    dark: true,
    primary: palette.$teal-200,
    on-primary: #000,
    primary-light: #b2fef7,
    on-primary-light: #000,
    primary-dark: #4f9a94,
    on-primary-dark: #000,
    secondary: palette.$light-green-200,
    on-secondary: #000,
    secondary-light: #d7ffd9,
    on-secondary-light: #000,
    secondary-dark: #75a478,
    on-secondary-dark: #000,
    background: #1b2936,
    error: #cf6679,
    on-error: #000,
    surface: #1b2936,
    on-surface: #fff,
  ),
  grey: (
    dark: true,
    primary: palette.$teal-200,
    on-primary: #000,
    primary-light: #b2fef7,
    on-primary-light: #000,
    primary-dark: #4f9a94,
    on-primary-dark: #000,
    secondary: palette.$deep-orange-200,
    on-secondary: #000,
    secondary-light: #ffddc1,
    on-secondary-light: #000,
    secondary-dark: #c97b63,
    on-secondary-dark: #000,
    background: #202125,
    error: #cf6679,
    on-error: #000,
    surface: #202125,
    on-surface: #fff,
  ),
  deep-ocean: (
    dark: true,
    primary: palette.$teal-200,
    on-primary: #000,
    primary-light: #b2fef7,
    on-primary-light: #000,
    primary-dark: #4f9a94,
    on-primary-dark: #000,
    secondary: palette.$light-green-200,
    on-secondary: #000,
    secondary-light: #d7ffd9,
    on-secondary-light: #000,
    secondary-dark: #75a478,
    on-secondary-dark: #000,
    background: #1a2328,
    error: #cf6679,
    on-error: #000,
    surface: #1a2328,
    on-surface: #fff,
  ),
  deep: (
    dark: true,
    primary: palette.$teal-200,
    on-primary: #000,
    primary-light: #b2fef7,
    on-primary-light: #000,
    primary-dark: #4f9a94,
    on-primary-dark: #000,
    secondary: palette.$deep-orange-200,
    on-secondary: #000,
    secondary-light: #ffddc1,
    on-secondary-light: #000,
    secondary-dark: #c97b63,
    on-secondary-dark: #000,
    background: #17161c,
    error: #cf6679,
    on-error: #000,
    surface: #17161c,
    on-surface: #fff,
  ),
  dark: (
    dark: true,
    primary: palette.$teal-200,
    on-primary: #000,
    primary-light: #b2fef7,
    on-primary-light: #000,
    primary-dark: #4f9a94,
    on-primary-dark: #000,
    secondary: palette.$deep-orange-200,
    on-secondary: #000,
    secondary-light: #ffddc1,
    on-secondary-light: #000,
    secondary-dark: #c97b63,
    on-secondary-dark: #000,
    background: #121212,
    error: #cf6679,
    on-error: #000,
    surface: #121212,
    on-surface: #fff,
  ),
  lich: (
    dark: false,
    primary: #514163,
    on-primary: #efc06e,
    primary-light: #7e6c91,
    on-primary-light: #efc06e,
    primary-dark: #281a39,
    on-primary-dark: #efc06e,
    secondary: #efc06e,
    on-secondary: #403845,
    secondary-light: #fff39e,
    on-secondary-light: #403845,
    secondary-dark: #ba9040,
    on-secondary-dark: #403845,
    background: #decde7,
    error: #b00020,
    on-error: #fff,
    surface: lighten(#decde7, 5%),
    on-surface: #000,
  ),
);

// 1 - card, switch
// 2 - contained button
// 3 - refresh indicator
// 4 - app bar
// 6 - FAB, snackbar
// 8 - menu, side sheet
// 16 - nav drawer, modal side sheet
// 24 - dialog
$overlay-values: (
  0: 0%,
  1: 5%,
  2: 7%,
  3: 8%,
  4: 9%,
  6: 11%,
  8: 12%,
  12: 14%,
  16: 15%,
  24: 16%,
);

@function overlay-elevation($color, $elevation: 0) {
  @return lighten($color, map-get($overlay-values, $elevation));
}

@function generate-gradient($color, $color2: rgba($color, 0), $steps: 10) {
  $list: ();
  @for $i from 1 through $steps {
    $list: append($list, mix($color, $color2, math.div(100%, $steps) * $i));
  }
  @return $list;
}

@function create-elevation-list($theme) {
  $list: ();
  @for $i from 1 through 25 {
    $list: append($list, undefined);
  }
  @each $overlay-elevation, $overlay-percent in $overlay-values {
    $list: set-nth($list, $overlay-elevation + 1, overlay-elevation(map-get($theme, surface), $overlay-elevation));
  }
  @return $list;
}

@function create-theme-map($theme) {
  $text-colors: (
    text-high: rgba(map-get($theme, on-surface), 0.87),
    text-medium: rgba(map-get($theme, on-surface), 0.6),
    text-disabled: rgba(map-get($theme, on-surface), 0.38),
  );

  $dynamic-colors: (
    meta:
      if(
        map-get($theme, dark),
        darken(overlay-elevation(map-get($theme, surface), 4), 10%),
        darken(map-get($theme, primary), 10%)
      ),
    divider: rgba(map-get($theme, on-surface), 0.12),
    lighter-divider: rgba(map-get($theme, on-surface), 0.06),
    grey-1: mix(map-get($theme, on-surface), map-get($theme, surface), 24%),
    grey-2: mix(map-get($theme, on-surface), map-get($theme, surface), 12%),
    primary-gradient: generate-gradient(map-get($theme, primary)),
    secondary-gradient: generate-gradient(map-get($theme, secondary)),
    elevated-surface: create-elevation-list($theme),
  );

  @return util.map-collect($theme, $text-colors, $dynamic-colors);
}

$themes-map: ();

@each $theme-name, $theme in $themes-colors-map {
  $map: ();
  $map: map-merge(
    $map,
    (
      $theme-name: create-theme-map($theme),
    )
  );
  $themes-map: map-merge($themes-map, $map);
}
