$mdc-typography-font-family: unquote("Lato, sans-serif");
$headline-font: unquote("Roboto Slab, serif");
$body-font: unquote("Lato, sans-serif");

@function toRem($px) {
  @return ($px / 16) * 1rem;
}

$mdc-typography-styles-headline1: (
  font-family: $headline-font,
  font-feature-settings: "lnum",
  font-size: toRem(96),
);
$mdc-typography-styles-headline2: (
  font-family: $headline-font,
  font-feature-settings: "lnum",
  font-size: toRem(60),
);
$mdc-typography-styles-headline3: (
  font-family: $headline-font,
  font-feature-settings: "lnum",
  font-size: toRem(48),
);
$mdc-typography-styles-headline4: (
  font-family: $headline-font,
  font-feature-settings: "lnum",
  font-size: toRem(34),
);
$mdc-typography-styles-headline5: (
  font-family: $headline-font,
  font-feature-settings: "lnum",
  font-size: toRem(24),
);
$mdc-typography-styles-headline6: (
  font-family: $body-font,
  font-feature-settings: "lnum",
  font-size: toRem(21),
);
$mdc-typography-styles-body1: (
  font-family: $body-font,
  font-size: toRem(17),
);
$mdc-typography-styles-body2: (
  font-family: $body-font,
  font-size: toRem(15),
);
$mdc-typography-styles-subtitle1: (
  font-family: $body-font,
  font-size: toRem(17),
);
$mdc-typography-styles-subtitle2: (
  font-family: $body-font,
  font-size: toRem(15),
);
$mdc-typography-styles-button: (
  font-family: $body-font,
  font-size: toRem(15),
);
$mdc-typography-styles-overline: (
  font-family: $body-font,
  font-size: toRem(10),
);
$mdc-typography-styles-caption: (
  font-family: $body-font,
  font-size: toRem(13),
);
