$mdc-theme-primary: #514163;
$mdc-theme-secondary: #EFC06E;
$mdc-theme-on-primary: #EFC06E;
$mdc-theme-on-secondary: #403845;
$mdc-theme-background: #DECDE7;
$mdc-theme-surface: lighten(#DECDE7,5%);
$mdc-theme-on-surface: black;