@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-teal-200;
$mdc-theme-secondary: $material-color-deep-orange-200;
$mdc-theme-on-primary: black;
$mdc-theme-on-secondary: black;
$mdc-theme-background: #17161c;
$mdc-theme-error: #cf6679;
$mdc-theme-surface:#17161c;
$mdc-theme-on-surface: #fff;