@use "@material/theme/color-palette" as palette;

@use "theme" as theme;

$headline-font: unquote("Roboto Slab, serif");
$body-font: unquote("Lato, sans-serif");

/*@use "@material/typography" with (
  $styles-headline1: (
    font-family: $headline-font,
    font-feature-settings: "lnum",
    font-size: 6rem,
  ),
  $styles-headline2: (
    font-family: $headline-font,
    font-feature-settings: "lnum",
    font-size: 3.75rem,
  ),
  $styles-headline3: (
    font-family: $headline-font,
    font-feature-settings: "lnum",
    font-size: 3rem,
  ),
  $styles-headline4: (
    font-family: $headline-font,
    font-feature-settings: "lnum",
    font-size: 2.125rem,
  ),
  $styles-headline5: (
    font-family: $headline-font,
    font-feature-settings: "lnum",
    font-size: 1.5rem,
  ),
  $styles-headline6: (
    font-family: $body-font,
    font-feature-settings: "lnum",
    font-size: 1.3125rem,
  ),
  $styles-body1: (
    font-family: $body-font,
    font-size: 1.0625rem,
  ),
  $styles-body2: (
    font-family: $body-font,
    font-size: 0.9375rem,
  ),
  $styles-subtitle1: (
    font-family: $body-font,
    font-size: 1.0625rem,
  ),
  $styles-subtitle2: (
    font-family: $body-font,
    font-size: 0.9375rem,
  ),
  $styles-button: (
    font-family: $body-font,
    font-size: 0.9375rem,
  ),
  $styles-overline: (
    font-family: $body-font,
    font-size: 0.625rem,
  ),
  $styles-caption: (
    font-family: $body-font,
    font-size: 0.8125rem,
  )
);*/

@use "@material/button/mdc-button";
@use "@material/card/mdc-card";
@use "@material/checkbox/mdc-checkbox";
@use "@material/chips/mdc-chips";
@use "@material/data-table/mdc-data-table";
@use "@material/dialog/mdc-dialog";
@use "@material/drawer/mdc-drawer";
@use "@material/fab/mdc-fab";
@use "@material/floating-label/mdc-floating-label";
@use "@material/form-field/mdc-form-field";
@use "@material/icon-button/mdc-icon-button";
@use "@material/image-list/mdc-image-list";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/radio/mdc-radio";
@use "@material/select/mdc-select";
@use "@material/snackbar/mdc-snackbar";
@use "@material/switch/mdc-switch";
@use "@material/textfield/mdc-text-field";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab/mdc-tab";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use "@rmwc/data-table/data-table";
@use "@rmwc/circular-progress/circular-progress";
@use "@rmwc/tooltip/tooltip";
@use "@rmwc/list/collapsible-list";
@use "@rmwc/avatar/avatar";

@use "@material/typography/_index" as typography;

.mdc-button.mdc-button--outlined,
.mdc-card.mdc-card--outlined,
.mdc-drawer,
.mdc-list-divider,
.mdc-data-table,
.mdc-data-table__row,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__title,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__actions {
  border-color: var(--divider-color);
}

.mdc-drawer .mdc-list-item {
  border-radius: 0;
}

.mdc-ripple-upgraded::before {
  transition-duration: 100ms !important;
}

.rmwc-collapsible-list--open > .rmwc-collapsible-list__handle .mdc-list-item__meta {
  transform: rotate(180deg);
}

.rmwc-avatar {
  background-color: var(--divider-color);
}

.banner {
  height: 54px;
  display: flex;
  justify-content: stretch;
  border-bottom: 1px solid var(--divider-color);
  &-text {
    @include typography.typography(body2);
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 16px;
  }
  &-button {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    a {
      text-decoration: none;
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in-scale {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes placeholder {
  from {
    background-color: var(--lighter-color);
  }
  50% {
    background-color: var(--divider-color);
  }
  to {
    background-color: var(--lighter-color);
  }
}

.light {
  $theme: (
    primary: palette.$teal-500,
    secondary: palette.$deep-orange-200,
    on-primary: black,
    on-secondary: black,
    background: palette.$grey-200,
    error: #b00020,
    on-error: white,
    surface: white,
    on-surface: black,
  );
  @include theme.theme($theme);
}

.grey {
  $theme: (
    primary: palette.$teal-200,
    secondary: palette.$deep-orange-200,
    on-primary: black,
    on-secondary: black,
    background: #202125,
    error: #cf6679,
    on-error: black,
    surface: #202125,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}

.ocean {
  $theme: (
    primary: palette.$teal-200,
    secondary: palette.$light-green-200,
    on-primary: black,
    on-secondary: black,
    background: #1b2936,
    error: #cf6679,
    on-error: black,
    surface: #1b2936,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}

.deep {
  $theme: (
    primary: palette.$teal-200,
    secondary: palette.$deep-orange-200,
    on-primary: black,
    on-secondary: black,
    background: #17161c,
    error: #cf6679,
    on-error: black,
    surface: #17161c,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}

.dark {
  $theme: (
    primary: palette.$teal-200,
    secondary: palette.$deep-orange-200,
    on-primary: black,
    on-secondary: black,
    background: #121212,
    error: #cf6679,
    on-error: black,
    surface: #121212,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}

.lich {
  $theme: (
    primary: #514163,
    secondary: #efc06e,
    on-primary: #efc06e,
    on-secondary: #403845,
    background: #decde7,
    error: #b00020,
    surface: lighten(#decde7, 5%),
    on-surface: black,
  );
  @include theme.theme($theme);
}

@import "chartist/dist/scss/chartist";
