@import 'variables';

@import 'typography-variables';


@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/dialog/mdc-dialog';
@import '@material/drawer/mdc-drawer';
@import '@material/fab/mdc-fab';
@import '@material/floating-label/mdc-floating-label';
@import '@material/form-field/mdc-form-field';
@import '@material/icon-button/mdc-icon-button';
@import '@material/image-list/mdc-image-list';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/list/mdc-list';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/menu/mdc-menu';
@import '@material/notched-outline/mdc-notched-outline';
@import '@material/select/mdc-select';
@import '@material/snackbar/mdc-snackbar';
@import '@material/textfield/mdc-text-field';
@import '@material/theme/mdc-theme';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/typography/mdc-typography';
@import '@rmwc/tooltip/tooltip';

@import '@material/ripple/mixins';

body {
    @include mdc-theme-prop(background-color, background);
}

:root {
    --meta-color: #{darken(mdc-theme-prop-value(primary),10%)};
    --divider-color: #{rgba($mdc-theme-on-surface,0.12)};
}

.mdc-button.mdc-button--outlined, .mdc-card.mdc-card--outlined {
    border-color: var(--divider-color);
}

.search-bar--persistent .search-bar-field.mdc-text-field {
    background-color: rgba($mdc-theme-on-primary,0.15);
}

.text-row .text-container .overline .live-indicator, .mdc-list .mdc-list-item .live-indicator {
    background-color: rgba($mdc-theme-secondary,0.5);
}

.mdc-snackbar__action:not(:disabled) {
    @include mdc-theme-prop(color, secondary);
    @include mdc-states(secondary);
}

//@import 'dark-theme';