@import "@material/top-app-bar/variables";
@import "@material/typography/mixins";

.mdc-drawer.drawer-right {
  border-right-width: 0;
  border-left-width: 1px;
  border-right-style: none;
  border-left-style: solid;
  left: initial;
  right: 0;
  width: 320px;
  &.mdc-drawer--animate,
  &.mdc-drawer--closing {
    transform: translateX(100%);
  }
  &.mdc-drawer--opening {
    transform: translateX(0);
  }
  &.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
    margin-left: 0;
    margin-right: 320px;
  }
}

.mdc-drawer__content {
  overflow-x: hidden;
}

.content-container .mdc-drawer.mdc-drawer--dismissible {
  height: calc(100% - #{$mdc-top-app-bar-row-height});
}

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
  .content-container .mdc-drawer.mdc-drawer--dismissible {
    height: calc(100% - #{$mdc-top-app-bar-mobile-row-height});
  }
}

.rmwc-data-table {
  &__content {
    background-color: transparent;
  }
  &__head .rmwc-data-table__row {
    height: 56px;
    .rmwc-data-table__head-cell {
      @include mdc-typography(subtitle2);
      font-family: inherit;
      font-weight: bold;
      vertical-align: middle;
    }
  }
  &__body .rmwc-data-table__row {
    height: 52px;
    .rmwc-data-table__cell {
      @include mdc-typography(body2);
      font-family: inherit;
      &::before {
        transition: opacity 100ms;
      }
    }
  }
}