@use "@material/rtl/_index" as rtl;

.mdc-drawer.filter-drawer {
  .mdc-drawer__content {
    padding: 16px;
    .mdc-select {
      width: 320px - 32px;
      &__anchor {
        width: 100%;
      }
    }
    .slider-container {
      display: flex;
      .mdc-text-field {
        flex-shrink: 0;
        width: 80px;
        @include rtl.reflexive-box(margin, left, 16px);
      }
    }
  }
}

.audit .mdc-menu.mdc-select__menu.mdc-menu-surface.mdc-menu-surface--fixed {
  width: 320px - 32px;
}
