

.mdc-drawer.filter-drawer {
    .mdc-drawer__content {
      padding: 16px;
      .mdc-select {
        width: 320px - 32px;
        margin-bottom: 16px;
      }
    }
  }
  
  .audit .mdc-menu.mdc-select__menu.mdc-menu-surface.mdc-menu-surface--fixed {
    width: 320px - 32px;
  }